<mat-toolbar style="position: fixed" class="navigation-toolbar" [class.navigation-is-mobile]="mobileQuery.matches" [class.mat-elevation-z0]="!isActive" [class.mat-elevation-z8]="isActive">
      <button fxShow="true" fxShow.gt-xs="false" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <a class="logo" fxShow="false" fxShow.gt-xs="true" href="#" routerLink="./"><img src="assets/img/brandlogo.png"></a>
      <mat-nav-list class="navigation-list" fxLayout="row" fxShow="false" fxShow.gt-xs="true">
          <a mat-list-item (click)="toggleAboutNav()" id="aboutbtn" [ngStyle]="{ 'background-color': (showAboutNav ? 'rgba(0, 0, 0, 0.692)' : 'transparent') }">About<mat-icon style="color: white">expand_more</mat-icon></a>
          <a mat-list-item (click)="toggleAcadNav()" id="acadbtn" [ngStyle]="{ 'background-color': (showAcadNav ? 'rgba(0, 0, 0, 0.692)' : 'transparent') }">Academics<mat-icon style="color: white">expand_more</mat-icon></a>
          <a mat-list-item (click)="toggleStudentNav()" id="studbtn" [ngStyle]="{ 'background-color': (showStudentNav ? 'rgba(0, 0, 0, 0.692)' : 'transparent') }">Students and Alumni<mat-icon style="color: white">expand_more</mat-icon></a>
          <a mat-list-item id="rndbtn" routerLink="/error" (click)="closeAll()">Research & Development</a>
          <a mat-list-item id="combtn" routerLink="/error" (click)="closeAll()">Community</a>
      </mat-nav-list>
      <span class="navigation-spacer"></span>
      <a routerLink="/application" style="margin-right: 2%;" (click)="closeAll()"><button class="heading-button-right" mat-stroked-button style="margin-right: 2%;color: #18d26e; border-color: #18d26e;">GCAT APPLY NOW!</button></a>
      <a href="../portals"><button id=contact-fab-button mat-mini-fab color="primary" matTooltip="Portals" [matTooltipPosition]="'left'" (click)="closeAll()"><mat-icon style="color: #18d26e;">people_alt</mat-icon></button></a>
    </mat-toolbar>

    <div class="navigation-empty" fxShow="false" fxShow.gt-xs="true"></div>
    
    <mat-sidenav-container class="navigation-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 110 : 0" style="width: 100%;margin-top:8px!important">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" (opened)="setToggleOn()" (closed)="setToggleOff()">
        <div class="sidenavBG"></div>
        <mat-nav-list>
          <a id="mobilelogo" class="logo" fxShow="true" fxShow.gt-xs="false" href="#" style="margin-bottom:1%; margin-left: -5%;" routerLink="./" (click)="snav.toggle()"><img src="assets/img/brandlogomobile.png"></a>
          <a mat-list-item (click)="toggleAboutNavM()">About ▼</a>
            <mat-list style="margin-left:30px" *ngIf="aboutNavM">
              <a mat-list-item (click)="toggleGeneralNavM()" class="animated fadeIn">General Information▼</a>
                <mat-list style="margin-left:30px" *ngIf="generalNavM">
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">College Profile</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">College Seal</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">College Hymn</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Awards & Recognitions</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Contact Us</a>
                </mat-list>
              <a mat-list-item class="animated fadeIn" (click)="toggleAdminNavM()">Administration▼</a>
                <mat-list style="margin-left:30px" *ngIf="adminNavM">
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Board of Trustees</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">College Administrators</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Organizational Structure</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">President's Message</a>
                </mat-list>
              <a mat-list-item class="animated fadeIn" (click)="toggleNewsNavM()">News & Events▼</a>
                <mat-list style="margin-left:30px" *ngIf="newsNavM">
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Academic Calendar</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Events</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">News & Articles</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Announcements</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">The Forefront</a>
                </mat-list>
              <a mat-list-item class="animated fadeIn" (click)="toggleOtherNavM()">Other Information▼</a>
                <mat-list style="margin-left:30px" *ngIf="otherNavM">
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Admission Information</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Careers & Jobs</a>
                </mat-list>
            </mat-list>
            <a mat-list-item (click)="toggleAcademicsNavM()">Academics▼</a>
              <mat-list style="margin-left:30px" *ngIf="academicsNavM">
                <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">IGS</a>
                <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">CAHS</a>
                <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">CBA</a>
                <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">CCS</a>
                <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">CEAS</a>
                <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">CHTM</a>
                <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">SHS</a>
              </mat-list>
          <a mat-list-item (click)="toggleStudentNavM()">Students & Alumni▼</a>
            <mat-list style="margin-left:30px" *ngIf="studentsNavM">
              <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">College Library</a>
              <a mat-list-item (click)="toggleServicesNavM()" class="animated fadeIn">Student Services▼</a>
                <mat-list style="margin-left:30px" *ngIf="servicesNavM">
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Culture and Arts</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Discipline</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Guidance & Admission</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Health Services</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Sports Development</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">School Orgs</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Placement & Linkages</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">School Publication</a>
                </mat-list>
              <a mat-list-item (click)="toggleAlumniNavM()" class="animated fadeIn">Alumni▼</a>
                <mat-list style="margin-left:30px" *ngIf="alumniNavM">
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Tracer Study</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Alumni Relations</a>
                </mat-list>
              <a mat-list-item (click)="toggleDownloadsNavM()" class="animated fadeIn">Downloads▼</a>
                <mat-list style="margin-left:30px" *ngIf="downloadsNavM">
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Student Manual</a>
                  <a mat-list-item routerLink="/error" (click)="snav.toggle()" class="animated fadeIn">Forefront Articles</a>
                </mat-list>
            </mat-list>
          <a mat-list-item routerLink="/error">Research & Development</a>
          <a mat-list-item routerLink="/error">Community Extension</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content nglp-scroll (onScroll)="detectScroll($event)" [style.marginTop.px]="mobileQuery.matches ? 50 : 0">
          <div *ngIf = 'showAboutNav' style="width: 100vw; height: 100vh; background-color: transparent; position: fixed; z-index: 1000;" (click)="closeAboutNav()"></div>
        <!-- about navigation -->
          <div class="animated fadeIn meganav nav1" *ngIf = 'showAboutNav' style="z-index: 1001;">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
                <div fxFlex="25">
                  <p class="menuhead">GENERAL INFORMATION</p>
                  <ul>
                    <li>
                      <a routerLink="/error" (click)="closeAll()">College Profile</a>
                    </li>
                    <li>
                        <a routerLink="/error" (click)="closeAll()">College Seal</a>
                    </li>
                    <li>
                        <a routerLink="/error" (click)="closeAll()">College Hymn</a>
                    </li>
                    <li>
                        <a routerLink="/error" (click)="closeAll()">Awards and Recognitions</a>
                    </li>
                    <li>
                        <a routerLink="/error" (click)="closeAll()">Contact Us</a>
                    </li>
                  </ul>
                </div>
  
                <div fxFlex="25">
                    <p class="menuhead">The College Seal</p>
                    <a style="margin-left: 20%;" routerLink="/seal" (click)="closeAll()"><img src="assets/logo/logo_gc.png" alt="" style="width: 60%;"></a>
                </div>
  
                <div fxFlex="25">
                    <p class="menuhead">Administration</p>
                    <ul>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">Board of Trustees</a>
                      </li>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">College Administrators</a>
                      </li>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">Organizational Structure</a>
                      </li>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">Message from the President</a>
                      </li>
                    </ul>
                </div>
  
                <div fxFlex="25">
                    <p class="menuhead" style="margin-right: 10%;">News & Events</p>
                    <ul>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">Academic Calendar</a>
                      </li>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">Events</a>
                      </li>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">News and Articles</a>
                      </li>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">Announcements</a>
                      </li>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">The Forefront</a>
                      </li>
                    </ul>

                    <p class="menuhead" style="margin-right: 10%;">Other Information</p>
                    <ul>
                      <li>
                        <a routerLink="/admission" (click)="closeAll()">Admission Information</a>
                      </li>
                      <li>
                        <a routerLink="/error" (click)="closeAll()">Careers and Job Opportunities</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
                  <!-- about navigation -->
                          <!-- Academics Navigation -->
        <div *ngIf = 'showAcadNav' style="width: 100vw; height: 100vh; background-color: transparent; position: fixed; z-index: 1000;" (click)="closeAcadNav()"></div>
          <div class="animated fadeIn meganav nav1" *ngIf = 'showAcadNav' style="z-index: 1001;">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
                  <div fxFlex="100">
                      <p class="menuhead">Academic Programs</p>
                  </div>
              </div>
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
                  <div fxFlex="14">
                     <a routerLink="/error" (click)="closeAll()"><img src="assets/logo/logo_igs.png" alt="" style="width: 90%;margin-left: 10%;"><p style="text-align: center;margin-left: 10%;">Institute of Graduate Studies</p></a>
                  </div>
                  <div fxFlex="14">
                      <a routerLink="/error" (click)="closeAll()"><img src="assets/logo/logo_cahs.png" alt="" style="width: 90%;margin-left: 8%;"><p style="text-align: center;margin-left: 1%;">College of Allied Health Studies</p></a>
                  </div>
                  <div fxFlex="14">
                      <a routerLink="/error" (click)="closeAll()"><img src="assets/logo/logo_cba.png" alt="" style="width: 90%;margin-left: 8%;"><p style="text-align: center;margin-left: 1%;">College of Business and Accountancy</p></a>
                  </div>
                  <div fxFlex="14">
                      <a routerLink="/error" (click)="closeAll()"><img src="assets/logo/logo_ccs.png" alt="" style="width: 90%;margin-left: 8%;"><p style="text-align: center;margin-left: 1%;">College of Computer Studies</p></a>
                  </div>
                  <div fxFlex="14">
                      <a routerLink="/error" (click)="closeAll()"><img src="assets/logo/logo_ceas.png" alt="" style="width: 90%;margin-left: 8%;"><p style="text-align: center;margin-left: 1%;">College of Education, Arts, and Sciences</p></a>
                  </div>
                  <div fxFlex="14">
                      <a routerLink="/error" (click)="closeAll()"><img src="assets/logo/logo_chtm.png" alt="" style="width: 90%;margin-left: 8%;"><p style="text-align: center;margin-left: 1%;">College of Hospitality and Tourism Management</p></a>
                  </div>
                  <div fxFlex="14">
                      <a routerLink="/error" (click)="closeAll()"><img src="assets/logo/logo_shs.png" alt="" style="width: 90%;margin-left: 0%; margin-right: 40%;"><p style="text-align: center;margin-left: -10%;">Senior High School</p></a>
                  </div>
              </div>
            </div>
                  <!-- Academic navigation -->
            <!-- Student Navigation -->
            <div *ngIf = 'showStudentNav' style="width: 100vw; height: 100vh; background-color: transparent; position: fixed; z-index: 1000;" (click)="closeStudentNav()"></div>
            <div class="animated fadeIn meganav nav1" *ngIf = 'showStudentNav' style="z-index: 1001;">
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
                    <div fxFlex="33">
                        <p class="menuhead">College Library</p>
                        <a routerLink="/error" (click)="closeAll()"><img src="assets/logo/logo_library.png" alt="" style="width: 40%;margin-left: 20%;"></a>
                    </div>
                    <div fxFlex="33">
                        <p class="menuhead">Student Services</p>
                        <ul>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">Culture and Arts</a>
                          </li>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">Discipline</a>
                          </li>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">Guidance and Admission</a>
                          </li>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">Health Services</a>
                          </li>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">Sports Development</a>
                          </li>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">School Organizations</a>
                          </li>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">Student Placement and Linkages</a>
                          </li>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">School Publication</a>
                          </li>
                        </ul>
                    </div>
                    <div fxFlex="33">
                        <p class="menuhead">Alumni</p>
                        <ul>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">Tracer Study</a>
                          </li>
                          <li>
                              <a routerLink="/error" (click)="closeAll()">Alumni Relations</a>
                          </li>
                        </ul>
                        <p class="menuhead">Downloads</p>
                        <ul>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">Student Manual</a>
                          </li>
                          <li>
                            <a routerLink="/error" (click)="closeAll()">Forefront News Articles</a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
                    <!-- Student navigation -->
      <app-video *ngIf="!mobileQuery.matches"></app-video>
      <router-outlet class="animated fadeIn"></router-outlet>
      <app-footer></app-footer>

      </mat-sidenav-content>
    </mat-sidenav-container>
