<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap" rel="stylesheet">
<section id="about" class="mat-typography" style="margin: 0!important; font-family: 'Open Sans'">
      <div class="container animated fadeIn">

		<div id="contentarrow" *ngIf="!mobileQuery.matches">
			<a (click)="scrollToElement(target)" id="contentstart"  class="scroll-indicator">ABOUT GORDON COLLEGE</a>
		</div>
		<div style="position:absolute;margin-top: 93vh" #target></div>
		<div *ngIf="mobileQuery.matches" style="height: 65vh; z-index:-1;overflow: hidden;margin-top:-120px" >
		<img style="width: 100%;" src="assets/banners/mobilebanner.png" alt="">
		</div>
      	<div class="about-section about-heading section-header" [ngStyle.lt-md]="{'height':'35vh'}" fxLayout="column" fxLayoutAlign="center center" #contentstart1>
            <div>
            <h1 [ngStyle.lt-md]="{'margin-bottom': '15px'}" [ngStyle.xs]="{'font-size': '28px'}" style="font-family: 'Open Sans';font-weight: bold"><span style="color:#119950">GORDON COLLEGE </span><br *ngIf='break'>OLONGAPO CITY</h1>
            </div>
            <div>
			<p [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}" style="font-family: 'Open Sans';font-size:20px">"Serving the community with a culture of excellence."</p>
			<h4 class="school-date" style="padding-bottom: 5%" style="font-family: 'Open Sans'">Since 1999</h4>
	        </div>
        </div>

        <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px"> -->

		      <!-- <div fxFlex="50">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">remove_red_eye</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Vision</h2>
		            <span fxFlex="10px"></span>
		            <p class="about-text">By 2025, the College envisions to be a premier local institution of higher learning in Region 3 committed to the holistic development of the human person and society.</p>
		          </div>
		      </div>

		      <div fxFlex="50">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">check_circle_outline</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Mission</h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text">To produce well-trained, skilled, dynamic, and competitive individuals imbued with values and attitudes responsive to the changing needs of the local, national and global communities.</p>
		          </div>
		      </div> -->
        <!-- </div> -->
      </div>
</section>
<section id="home-vmg" style="margin: 0!important; font-family: 'Open Sans'">
	<div class="container">
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p style="text-align: center;width: 25vw; margin-left: calc(50% - 12.5vw);" [style.width.vw]="mobileQuery.matches? 100 : 25" [style.marginLeft.%]="mobileQuery.matches? 0 : ''">By 2025, the College envisions to be a premier local institution of higher learning in Region 3 committed to the holistic development of the human person and society.</p>
				</header>
			</div>
			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Mission</h3>
					<p style="text-align: center;width: 25vw; margin-left: calc(50% - 12.5vw);" [style.width.vw]="mobileQuery.matches? 100 : 25" [style.marginLeft.%]="mobileQuery.matches? 0 : ''">To produce well-trained, skilled, dynamic, and competitive individuals imbued with values and attitudes responsive to the changing needs of the local, national and global communities.</p>
				</header>
			</div>
		</div>
		<header class="section-header">
			<h3 style="margin:0 !important">Goals</h3>
			<p style="width: 40vw; margin-left: calc(50% - 20vw);margin-bottom: 0px;" [style.width.vw]="mobileQuery.matches? 100 : 40" [style.marginLeft.%]="mobileQuery.matches? 0 : ''">Provide opportunities that will enable individuals to acqiure a high level of professional, technical and vocational courses of studies</p>
			<p style="width: 40vw; margin-left: calc(50% - 20vw);margin-bottom: 0px;" [style.width.vw]="mobileQuery.matches? 100 : 40" [style.marginLeft.%]="mobileQuery.matches? 0 : ''">Develop innovative programs, projects, and models of practice by undertaking functional and relevant research studies</p>
			<p style="width: 40vw; margin-left: calc(50% - 20vw);margin-bottom: 0px;" [style.width.vw]="mobileQuery.matches? 100 : 40" [style.marginLeft.%]="mobileQuery.matches? 0 : ''">Promote community development through relevant extension programs</p>
			<p style="width: 40vw; margin-left: calc(50% - 20vw);margin-bottom: 0px;" [style.width.vw]="mobileQuery.matches? 100 : 40" [style.marginLeft.%]="mobileQuery.matches? 0 : ''">Provide opportunities for employability and entrepreneurship of graduates</p>
		</header>
	</div>
</section>
