<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerPlacement.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
		<header class="section-header">
			<!-- <h3>College of Computer Studies</h3>
			<p></p> -->
			<p class="text-justify">The <strong>Student Placement and Linkages Unit</strong> aims to facilitate the professional and personal aspirations of students by providing information and activities that augment existing ones in order to enhance personal and career competencies that are needed as they enter and advance in their chosen fields of work</p>
		</header>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="75" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>To develop and maintain strong industry – institute linkage and strive for the overall development and grooming of the students according to the industry requirements to create better placement opportunities for Gordon College graduates.</p>
				</header>
			<!-- </div>
			<div class="col-md-6"> -->
				<header class="section-header">
					<h3>Mission</h3>
					<p class="text-justify">Striving to provide the industry with world-class, dynamic, competent and competitive professionals, the Student Placement and Linkages Unit commits to:</p>
					<ul>
						<li>Enhance career competencies of Gordon College students;</li>
						<li>Promote activities that will advance and facilitate employability of Gordon College graduates;</li>
						<li>Address/respond to employment needs of graduating students and recent graduates;</li>
						<li>Institutionalize linkages with employment agencies/firms.</li>
					</ul>
				</header>
			<!-- </div>
			<div class="col-md-5"> -->
				<br>
				<header class="section-header">
					<h3>Goals and Objectives</h3>
					<!-- <p class="text-left">The Guidance and Admission Unit offers a set of services utilizing integrated approach to the development of a well-functioning individual primarily by helping them utilize their potentials to the fullest. The function of the Guidance and Admission Unit is aimed at:</p> -->
					<ul>
						<li>Augment student career skills, knowledge, and attitudes;</li>
						<li>Maintain a Gordon College job-link to facilitate employment of graduating students and recent graduates;</li>
						<li>Network and strengthen ties with companies which can provide honorable and beneficial employment to Gordon College graduating students and recent graduates;</li>
						<li>Network and strengthen ties with members of the alumni who can help employ Gordon College Graduates;</li>
						<li>Track and be updated with the employment status of alumni.</li>
					</ul>
				</header>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/admin/idosrv.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>ROGER V. IDOS</span></strong><br>
                Coordinator, Student Placement and Linkages Unit<br /><br />
                </div>
			</div>
		</div>
	</div>
</div>