<ion-app>
    <div class="wrapper">
        <div class="sidebar" data-color="green" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
            <div class="logo text-center">
                <div class="logo-img">
                    <img src="assets/img/gc-log.png"/>
                </div>
                <a href="#" target="_blank" class="simple-text"  (click)="sidebarToggle()" >
                    Gordon College
                </a>
                <h6>Student Portal</h6>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li routerLinkActive="active" class="nav-item" >
                        <a class="nav-link" [routerLink]="['/sched']">
                            <i class="material-icons">supervised_user_circle</i>
                            <p>My Class Schedule</p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" [routerLink]="['/prospectus']">
                            <i class="material-icons">subject</i>
                            <p>My Prospectus</p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" [routerLink]="['/profile']">
                            <i class="material-icons">book</i>
                            <p>My Profile</p>
                            </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item" (click)="logout()">
                        <a class="nav-link" >
                            <i class="fa fa-sign-out"></i>
                            <p>Log Out</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-3.jpg)"></div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand text-primary" href="javascript:void(0)">
                            <strong>
                                GC Student Portal
                            </strong>
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" (click)="sidebarToggle()" >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                </div>
            </nav>
            <div class="main-content">
                <ion-split-pane contentId="main-content">
                    <ion-router-outlet id="main-content"></ion-router-outlet>
                </ion-split-pane>
            </div>
            <footer class="footer ">
                <div class="container-fluid">
                    <div class="copyright pull-right">
                        &copy;
                        {{test | date: 'yyyy'}}, made with love by
                        <a href="#" target="_blank">TEAM F-SOCIETY</a> for Gordon College Community.
                    </div>
                </div>
            </footer>
        </div>
    </div>
</ion-app>

