<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerCultureAndArts.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw', 'margin-top':'20px'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        <div fxFlex="40" fxFlex.lt-md="100">
					<img style="margin-top: 20px;" src="assets/imgs/pasevoci.png" id="cultureimg" width="100%" class="z-depth-2" alt="PASE VOCI" />
					<hr><h6 class="text-center"><strong>The PASE Voci</strong></h6><hr>
					<img src="assets/imgs/paseballo.png" id="cultureimg" width="100%" class="z-depth-2" alt="PASE VOCI" />
					<hr><h6 class="text-center"><strong>The PASE Ballo</strong></h6><hr>
				</div>
				
				<div fxFlex="60" fxFlex.lt-md="100">
					<p class="text-justify"><strong>Culture and Arts Unit</strong> is a functional arm of the Office of Student Welfare and Services responsible for developing and honing the students’ talents, skills, and values for appreciation, and promoting the culture and arts. The official culture and arts organization of the college was formally established in the 1st semester of the Academic Year 2010-2011 and named as the Performing Arts Student Ensemble (PASE).  Its primary duty is to organize groups of students inclined in vocal (the PASE Voci), instrumental (the PASE Cuerdas), dance (the PASE Ballo), theater arts (the PASE Teatro) and visual arts (the PASE Visual).</p>
					<p class="text-justify">As part of the college’s commitment to the holistic development of its students, the Culture and Arts Unit was created and continuously developed. In addition, as stipulated in the Gordon College Student Handbook under the Student Services Section X, “The College shall provide opportunities for the appreciation of culture and arts through the different performing arts group in the college and participation to various cultural competitions and activities.”</p>
					<p class="text-justify">In response to the College’s mission to produce well-trained, skilled, dynamic, and competitive individuals imbued with values and attitudes and responsive to the changing needs of the local, national and global communities, the students are encouraged to actively involve and participate in all fields of their talent.</p>
					<p class="text-justify">Our aim is to support the artists’ leadership through group regular trainings and workshops, maintain harmonious relationships among the members, and finally, to provide scholarship grants for those qualified members.</p>
				</div>
			</div>
	</div>
</div>

<div class="container animated fadeIn" style="background-color: rgb(255, 255, 255);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
	<div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="50" fxFlex.lt-md="100">
					<header class="section-header">
						<h3>Vision</h3>
						<p class="text-justify">A creative and excellent unit that harnesses and optimizes the potentials of both student-artists as well as educators, through significant programs that promote and develop artistic talents in performing arts; supporting the atmosphere of unity, equality and prosperity, the culture and arts enhances academic awareness and vigilant participation in campus affairs promoting Filipino culture and establishing national consciousness in Gordon College community.</p>
					</header>
				</div>
				<div fxFlex="50" fxFlex.lt-md="100">
					<header class="section-header">
						<h3>Mission</h3>
						<p class="text-justify">To endorse communal undertaking responsibilities and cooperation among students to become a talent development and management organization in the college that will promote student’s artistic talents and literacy in the field of arts.</p>
					</header>
				</div>
			</div>

            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
                <div fxFlex="100" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Goals</h3><br>
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
                        <div fxFlex="50" fxFlex.lt-md="100">

					<!-- <span style="text-align: left !important"><strong>The Gordon College - College of Education,Arts and Sciences shall:</strong></span>
					<br><br> -->
					<ul>
						<li class="text-justify">Create meaningful opportunities for the college to converge in creativity and advocacies that realizes the deeper importance of humanities in the lives of men.</li>
						<li class="text-justify">Develop a rich body of literature in arts and culture with the end goal of strengthening nationalism and foster peace and understanding.</li>
						<li class="text-justify">Inspire the audience through powerful messages carried off stage and into the hearts of many. </li>
						<li class="text-justify">Hare and foster not only the appreciation for the arts but bring forth an impetus for change. </li>
						<li class="text-justify">Take a creative and innovative approach in all aspects of Filipino culture and arts.</li>
						
					</ul>
					</div>
                    <div fxFlex="50" fxFlex.lt-md="100">
					<ul>
					<li class="text-justify">Thrive the culture of music within the college and show the passion about their craft and talent.</li>
						<li class="text-justify">Be a family that is diverse in countless ways, but dances as one body, with one movement, and one purpose.</li>
						<li class="text-justify">Educate, delight, and stimulate the imagination and provoke thought. Fuse with theatre arts to interrogate the Filipino social world so that students can invent themselves as critical Filipinos – sharp in thought, expressive in action, deep in faith, and attuned to others, fellow players and audiences whose lives intersect with their own.</li>
						<li class="text-justify">Continue to grow, adapt to changing needs and stay current by studying and implementing best practices in all aspects of the culture and arts.</li>
					</ul>
					</div></div>
				</header>
			</div>
		</div>
	</div>
</div>