<div class="profily">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        <h4 fxFlex="100" class="animated fadeInUp">Welcome to <span style="color: #3f51b5 !important;">PROFILY.</span></h4>
    </div>

        <p class="mt-1 animated fadeInUp" style="margin-top: -2.5%">GC's very own <span style="color: #3f51b5 !important;">profiling</span> and <span style="color: #3f51b5 !important;">enlistment</span> system.</p>


        <h1 class="icon-greet mb-1 animated fadeIn"><i style="font-size: 7em; color: #3f51b5" class="material-icons">mood_bad</i></h1>

        <h5 class="mt-1 animated fadeInUp">Sorry, Profily is not available at this moment!</h5>

<p class="mt-1 animated fadeInUp" style="color: #3f51b5;">Application will be available on {{enlistmentStart |  date:'MM/dd/yyyy'}} until {{enlistmentEnd |  date:'MM/dd/yyyy'}}.</p>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
</div>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="display: flex;justify-content: center;width: 100%;margin-top:1%;padding-bottom: 5%;">
        <button class="heading-button-right animated fadeInUp" mat-stroked-button routerLink="/">Return</button>
        <!-- <button class="heading-button-right animated fadeInUp" mat-stroked-button style="margin-right: 2%;" [routerLink]="navigateOld">Old Student</button> -->
</div>
</div>