<section id="home-vmg" style="margin: 0!important">
	<div class="container">
		<header class="section-header">
			<h3 style="margin:0 !important">History</h3>
			<p style="width: 40vw; margin-left: calc(50% - 20vw);">A local government-funded college in Olongapo City, Philippines. It was founded on February 24, 1999 by virtue of City Ordinance No. 9, and is composed of four colleges: College of Computer Studies; College of Business and Accountancy; College of Education Arts and Sciences; College of Allied Health Studies. Other academic units include the Institute of Graduate Studies, Technical-Vocational Unit, and Senior High School</p>
		</header>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
			<div fxFlex="50">
				<header class="section-header">
					<h3>Vision</h3>
					<p style="text-align: center;width: 25vw; margin-left: calc(50% - 12.5vw);">By 2025, the College envisions to be a premier local institution of higher learning in Region 3 committed to the holistic development of the human person and society.</p>
				</header>
			</div>
			<div fxFlex="50">
				<header class="section-header">
					<h3>Mission</h3>
					<p style="text-align: center;width: 25vw; margin-left: calc(50% - 12.5vw);">To produce well-trained, skilled, dynamic, and competitive individuals imbued with values and attitudes responsive to the changing needs of the local, national and global communities.</p>
				</header>
			</div>
		</div>
	</div>
</section>