.cahsnewcontainer{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.card{
    width: 80vw;
    max-width: 1280px;
    height: 100%;
    margin-top: 2%;
}

.moveup{
    margin-top: -22px;
}

.info{
    color: #2196f3;position: absolute;margin-top: 1px;margin-left: 25px;
}

.info2{
    color: #ffa726;position: absolute;margin-top: 1px;margin-left: 25px;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    padding: 0!important;
    height:30px;
}

mat-list-option .mat-list-item .mat-list-option .mat-accent{
    margin-right: 0px!important;
}