<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerCCS.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
        <div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>The College of Computer Studies shall be the Center of Excellence in Information Technology and Computer Science for providing professional and technological training, scientific and innovative, and relevant community service</p>
				</header>
			<!-- </div>
			<div class="col-md-6"> -->
				<header class="section-header">
					<h3>Mission</h3>
					<p>The College of Computer Studies shall produce Information Technology and Computer Science professionals equipped with knowledge, skills, strong moral values, well-developed personality, and exceptional abilities, thus becoming the preferred and prestigious source of services and manpower.</p>
				</header>
			</div>
			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Goals</h3>
					<ul>
						<li>Provide competent/quality instruction relevant to time and technology by developing, updating, and evaluating offered programs and curriculum continuously</li>
						<li>Open, maintain and extend on new roads of research and discovery in the field of expertise, in emerging disciplines and in related interdisciplinary areas</li>
						<li>Provide the faculty members and students with updated educational resources, training and study grants they need to keep pace, sustain, and update with developments in their field.</li>
						<li>Prepare our students in aspects that provide them a strong foundation for sustaining personal and professional development, enable them to build-up strong leadership and become responsible individuals and contributors towards the good of the community.</li>
						<li>Pursue beneficial industry linkages, maintain good relation, extend help and manpower to the country.</li>
					</ul>
				</header>
			</div>
		</div>
	</div>
</div>

<div class="container animated fadeIn" style="background-color: rgb(255, 255, 255);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
					<!-- Course Description -->
				<div fxFlex="75" fxFlex.lt-md="100">
                <header class="section-header">
                <h3 class="text-center"><strong>CCS PROGRAMS</strong></h3><br>
                </header>
                <h5><strong>BACHELOR OF SCIENCE IN COMPUTER SCIENCE (BSCS)</strong> - <span style="font-style: italic; font-size: .9rem">ALCU-COA Level 1 Accredited</span></h5>
                <p class="course-desc">The BS Computer Science program includes the study of computing concepts and theories, algorithmic foundations and new developments in computing. The program prepares students to design and create algorithmically complex software and develop new and effective algorithms for solving computing problems</p>
								<p class="course-desc">The program also includes the study of the standards and practices in Software Engineering. It prepares students to acquire skills and disciplines required for designing, writing and modifying software components, modules and applications that comprise software solutions</p>
								<div class="row justify-content-center">
									<div class="col-md-5">
										<h5><strong>Primary Job Roles</strong></h5>
										<ul>
											<li>Software Engineer</li>
											<li>Systems Software Developer</li>
											<li>Research and Development computing professional</li>
											<li>Applications Software Developer</li>
											<li>Computer Programmer</li>
										</ul>
									</div>
									<div class="col-md-5">
										<h5><strong>Secondary Job Roles</strong></h5>
										<ul>
											<li>Systems Analyst</li>
											<li>Data Analyst</li>
											<li>Quality Assurance Specialist</li>
											<li>Software Support Specialist</li>
										</ul>
									</div>
								</div>
								
								<hr>
                <h5><strong>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY (BSIT)</strong> - <span style="font-style: italic; font-size: .9rem">ALCU-COA Level 1 Accredited</span></h5>
                <p class="course-desc">The BS Information Technology program includes the study of the utilization of both hardware and software technologies involving planning, installing, customizing, operating, managing and administering, and maintaining information technology infrastructure that provides computing solutions to address the needs of an organization</p>
								<p class="course-desc">
									The program prepares graduates to address vairous user needs involving the selection, development, application, integration, and management of computing technologies within an organization.
								</p>
								<div class="row justify-content-center">
									<div class="col-md-5">
										<h5><strong>Primary Job Roles</strong></h5>
										<ul>
											<li>Web and Applications Developer</li>
											<li>Junior Database Administrator</li>
											<li>Systems Administrator</li>
											<li>Network Engineer</li>
											<li>Junior Information Security Administrator</li>
											<li>Systems Integration Personnel</li>
											<li>IT Audit Assistant</li>
											<li>Technical Support Specialist</li>
										</ul>
									</div>
									<div class="col-md-5">
										<h5><strong>Secondary Job Roles</strong></h5>
										<ul>
											<li>QA Specialist</li>
											<li>Systems Analyst</li>
											<li>Computer Programmer</li>
										</ul>
									</div>
								</div>
								
								<hr>
								<h5><strong>BACHELOR OF SCIENCE IN ENTERTAINMENT AND MULTIMEDIA COMPUTING (BSEMC)</strong></h5>
                <p class="course-desc">Entertainment and Multimedia Computing is the study and use of concepts, principles, and techniques of computing in the design and development of multimedia products and solutions. It includes various applications such as in science, entertainment, education, simulations and advertising.</p>
								<p class="course-desc">The program enables the students to be knowledgeable of the whole pipeline of Game Development and Digital Animation projects. The students will acquire the independence and creative cimpetencies to articulate project design and requirements of new projects, not necessarily based on standard templates.</p>

								<hr>
                <h5><strong>ASSOCIATE IN COMPUTER TECHNOLOGY (ACT)</strong></h5>
                <p class="course-desc">A two-year BS Computer Science ladderized and non-degree program leading to a diploma in "Associate in Computer Technology" </p>
                
            </div>

            <div fxFlex="25" fxFlex.lt-md="100">
                <img src="assets/imgs/admin/abarintosec.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>ERLINDA CASELA-ABARINTOS, DIT,FRIIT</span></strong><br>
                  Dean, College of Computer Studies<br /><br />
                  </div>

			  <img src="assets/imgs/admin/luyrd.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
              <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}"> 
              <strong><span>RONNIE D. LUY, MIT</span></strong><br>
                  Assistant Dean, College of Computer Studies
                  </div>
            </div>
        </div>
    </div>
</div>