<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerDiscipline.png" alt="" width="100%" class="z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
		<header class="section-header">
			<!-- <h3>College of Computer Studies</h3>
			<p></p> -->
			<p>The arm of the Office of Student Welfare and Services in promoting student discipline guided with moral values the institution adheres, the Discipline Unit ensures due process in dealing with student misconduct.</p>
		</header>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="75" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>An arm of Student Welfare and Services upholding a safe-learning environment aiming to build the character of every student as responsible citizens with integrity.</p>
				</header>
			<!-- </div>
			<div class="col-md-6"> -->
				<header class="section-header">
					<h3>Mission</h3>
					<p>To shape character of the entrusted youth imbued with values through positive, restorative, and transformative disciplinary interventions.</p>
				</header>
			<!-- </div>
			<div class="col-md-5"> -->
				<header class="section-header">
					<h3>Goals</h3>
					<ul>
						<li>Uphold discipline, peace, order, and mutual respect towards members of the academe;</li>
						<li>Formulate strategies and implement policies that will set out expected standards of behavior consistent with the code of wellbeing based on the vision framework of the institution.</li>
						<li>Meet standards of the respectful and safe academic environment.</li>
					</ul>
				</header>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/admin/malibiranrq.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>RAYMOND Q. MALIBIRAN</span></strong><br>
                Coordinator, Discipline Unit<br /><br />
                </div>
			</div>
		</div>
	</div>
</div>