<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerContact.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

	<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);">
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
			<!-- <div class="col-md-5">
				<div id="map" style="width:100%; height: 550px"></div>
			</div> -->
			<div fxFlex="100" style="text-align: center;">
				<h3 class="text-center"><strong>GORDON COLLEGE</strong></h3>
				<div  class="text-center"	>
					Olongapo City Sports Complex<br>
					Donor Street, East Tapinac<br>
					Olongapo City, PH 2200
				</div>
				<hr>
				<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: left;">
					<div fxFlex="12.5"></div>
					<div fxFlex="25">
						<strong>Institute of Graduate Studies</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 105
						<br>info.igs@gordoncollege.edu.ph</span>
						<br><br>
						<strong>College of Business and Accountancy</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 320
						<br>info.cba@gordoncollege.edu.ph</span>
						<br><br>
						<span style="font-size:0.9rem"><strong>College of Education, Arts, and Sciences</strong>
						<br>(047) 602-7175 local 322
						<br>info.ceas@gordoncollege.edu.ph</span>
						<br><br>
						<strong>College of Computer Studies</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 319
						<br>info.ccs@gordoncollege.edu.ph</span>
						<br><br>
					</div>
					<div fxFlex="25">
						<strong>College of Allied Health Studies</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 318
						<br>info.cahs@gordoncollege.edu.ph</span>
						<br><br>
					
						<strong>SHS Principal's Office</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 104
						<br>info.shs@gordoncollege.edu.ph</span>
						<br><br>
						
						<strong>Academic Affairs Office</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 314
						<br>info.academicaffairs@gordoncollege.edu.ph</span>
						<br><br>

						<strong>Information and Communications Department</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 306
						<br>0998-845-6832
						<br>info@gordoncollege.edu.ph</span>
						<br><br>

					</div>
					<div fxFlex="25">
						
						<strong>Finance Office</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 101
						<br>info.finance@gordoncollege.edu.ph</span>
						<br><br>
					
						<strong>Registrar's Office</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 102
						<br>info.registrar@gordoncollege.edu.ph</span>
						<br><br>
						<strong>Office of the Student Welfare and Services</strong>
						<span style="font-size:0.9rem"><br>(047) 602-7175 local 313
						<br>info.osws@gordoncollege.edu.ph</span>
					</div>
					<div fxFlex="12.5"></div>
				</div>
				
				
			</div>
		</div>

		<!-- <div class="row" style="padding-top:3%">
			<div class="col-md-6">
				Map
			</div>
			<div class="col-md-6">
				Contact Details of GC
			</div>
		</div> -->
	</div>