<div class="main-content">
  <div class="container-fluid">
      <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#addFac" >Add Faculty</button>
      <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#uploadFac">Upload Faculty</button>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title ">List of Faculty Members</h4>
                      <p class="card-category">Academic Year 2019-2020</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead class=" text-primary">
                                  <th>No.</th>
                                  <th>Employee No.</th>
                                  <th>Full Name</th>
                                  <th>Account Type</th>
                                  <th>Action</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let fac of facMembers.data; let i = index">
                                      <td>{{ i+1 }}</td>
                                      <td>{{ fac.fa_empnumber }}</td>
                                      <td>{{ fac.fa_lname + ', ' + fac.fa_fname + ' ' +fac.fa_mname + ' ' +fac.fa_extname  }}</td>
                                      <td *ngIf="fac.fa_accounttype==='1'">Admin</td>
                                      <td *ngIf="fac.fa_accounttype==='0'">Faculty</td>
                                      <td *ngIf="fac.fa_accounttype==='2'">{{ fac.fa_program }} Coordinator</td>
                                      <td>
                                          <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="viewInfo(i)">View</button>
                                          <button class="btn btn-danger btn-sm" (click)="delFac(fac.fa_empnumber)">Delete</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Employee Number: <strong class="text-success">{{ facInfoSingle?.fa_empnumber }}</strong></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td class="text-success"><strong>Employee Number</strong></td>
                    <td>{{ facInfoSingle.fa_empnumber }}</td>
                  </tr>
                  <tr>
                    <td class="text-success"><strong>Full Name</strong></td>
                    <td>{{ facInfoSingle.fa_lname + ', ' + facInfoSingle.fa_fname + ' ' + facInfoSingle.fa_mname + ' ' + facInfoSingle.fa_extname }}</td>
                  </tr>
                  <tr>
                    <td class="text-success"><strong>Account Type</strong></td>
                    <td *ngIf="facInfoSingle.fa_accounttype==='0'">Faculty</td>
                    <td *ngIf="facInfoSingle.fa_accounttype==='1'">Admin</td>
                    <td *ngIf="facInfoSingle.fa_accounttype==='2'">{{ facInfoSingle.fa_program }} Coordinator</td>
                  </tr>
                  <tr>
                    <td class="text-success"><strong>Date Added</strong></td>
                    <td>{{ facInfoSingle.fa_daterecorded }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>Update as:</p>
            <button  class="btn btn-info btn-sm">Admin</button>
            <button  class="btn btn-info btn-sm">Coordinator</button>
            <button  class="btn btn-info btn-sm">Faculty</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="addFac" tabindex="-1" role="dialog" aria-labelledby="addFacLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="addFacLabel">Add Faculty</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form (submit)="addFac($event)" autocomplete="off">
                <div class="form-group">
                  <input class="form-control" type="number" placeholder="Employee Number" required>
                </div>
                <div class="form-group">
                <input class="form-control" type="text" placeholder="First Name" required>
                 </div>
                <div class="form-group">
                 <input class="form-control" type="text" placeholder="Middle Name">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Last Name" required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Extension Name">
                </div>
                <div class="form-group">
                  <select class="form-control" required name="qwe" [(ngModel)] = "accountType">
                    <option value="0">Faculty</option>
                    <option value="1">Admin</option>
                    <option value="2">Coordinator</option>
                  </select>
                </div>
                <div class="form-group" *ngIf="accountType == 2">
                  <select class="form-control" required>
                    <option *ngFor="let course of courses.data">{{course.co_name}}</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-sm btn-success pull-right">Submit</button>
            </form>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="uploadFac" tabindex="-1" role="dialog" aria-labelledby="uploadFacLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="uploadFacLabel">Upload Faculty</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form (submit)="uploadFac($event)" autocomplete="off">
                <input class="form-control" name="file" type="file" required>
                <button type="submit" class="btn btn-sm btn-success pull-right">Submit</button>
            </form>
          </div>
      </div>
  </div>
</div>
