<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<div id="owl-demo" class="owl-carousel owl-theme">
 
  <div class="item"><img src="assets/img/banner.png" alt="The Last of us"></div>
  <div class="item"><img src="assets/img/1.png" alt="GTA V"></div>
  <div class="item"><img src="assets/img/2.png" alt="Mirror Edge"></div>
  <div class="item"><img src="assets/img/3.png" alt="Mirror Edge"></div>
  <div class="item"><img src="assets/img/4.png" alt="Mirror Edge"></div>
  <div class="item"><img src="assets/img/5.png" alt="Mirror Edge"></div>
  <div class="item"><img src="assets/img/6.png" alt="Mirror Edge"></div>
  <div class="item"><img src="assets/img/7.png" alt="Mirror Edge"></div>
  <div class="item"><img src="assets/img/8.png" alt="Mirror Edge"></div>
 
</div>
</div>