<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#addModal">
          Add Member
        </button>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title ">List of All Accounts</h4>
              <p class="card-category">For Admission Portal</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-striped">
                <thead class=" text-primary">
                  <th>No.</th>
                  <th>Employee No.</th>
                  <th>Full Name</th>
                  <th>Date Recorded</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let member of gcatmembers; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{member.fa_empnumber}}</td>
                    <td>{{member.fa_lname}}, {{member.fa_fname}} {{member.fa_mname}} {{member.fa_extname}}</td>
                    <td>{{member.fa_daterecorded}}</td>
                    <td>
                      <button class="btn btn-sm btn-danger" (click)="deleteGCATmember(i)">
                        <i class="material-icons">
                          delete
                        </i>
                      </button>
                    </td>
                  </tr>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="uploadModalLabel">Add Member</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" (submit)="addGCATmember($event)">
          <div class="form-group">
              <label for="name2">Employee Number</label>
              <input class="form-control" name="name1" type="number" required>
          </div>
          <div class="form-group">
              <label for="name2">First Name</label>
              <input class="form-control" name="name1" type="text" required>
          </div>
          <div class="form-group">
              <label for="name2">Middle Name</label>
              <input class="form-control" name="name1" type="text" required>
          </div>
          <div class="form-group">
              <label for="name2">Last Name</label>
              <input class="form-control" name="name1" type="text" required>
          </div>
          <div class="form-group">
              <label for="name2">Extension Name</label>
              <input class="form-control" name="name1" type="text" required>
          </div>
          <button type="submit" class="btn btn-sm btn-success pull-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


