<div class="main-content">
  <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false">
    <p class="loading" style="color: white;">Please wait...</p>
  </ngx-spinner>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">
              List of Unscheduled Applicants - Total Count:
              <strong>{{ applicantCount }}</strong>
            </h4>
            <p class="card-category">For GCAT Schedule</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <form autocomplete="off">
                  <label for="search" class="p-0 m-0">Search</label>
                  <input
                    class="form-control"
                    [(ngModel)]="searchValue"
                    name="search"
                    type="text"
                    (keyup)="searchUnscheduledApplicants($event)"
                  />
                </form>
                </div>
                <div class="col-md-2">
                  <label for="">SORT BY:</label>
                  <form autocomplete="off" class="flexcontainercolumn">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="defaultChecked" (click)="setSort('id')" name="sort" checked>
                      <label class="custom-control-label" for="defaultChecked">ID NUMBER</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="defaultUnchecked" (click)="setSort('name')" name="sort">
                      <label class="custom-control-label" for="defaultUnchecked">NAME</label>
                    </div>
                  </form>
                </div>
              <div class="col-md-6">
                <br />
                <pagination-controls
                  class="pull-right"
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>

            <div class="table-responsive" *ngIf="!noapplicants">
              <table class="table table-striped">
                <thead class=" text-primary">
                  <th>No.</th>
                  <th>ID No.</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Program</th>
                  <th>GPA</th>
                  <th>Registration Time</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let applicant of applicants
                        | paginate: { itemsPerPage: 20, currentPage: p };
                      let i = index
                    "
                  >
                    <td>{{ 20 * (p - 1) + i + 1 }}</td>
                    <td>{{ applicant.gc_idnumber }}</td>
                    <td>{{ applicant.si_fullname }}</td>
                    <td>{{ applicant.si_email }}</td>
                    <td>{{ applicant.gc_course }}</td>
                    <td>{{ applicant.gc_gpa }}</td>
                    <td>{{ applicant.gc_regtime }}</td>
                    <td>
                      <button
                        matTooltip="Add Schedule"
                        matTooltipPosition="above"
                        class="btn btn-sm btn-success"
                        (click)="addGCATSchedule(applicant.gc_idnumber)"
                      >
                        <i class="material-icons">
                          note_add
                        </i>
                      </button>
                      <a
                        href="https://gordoncollegeccs.edu.ph/gc/home/#/edit/{{
                          applicant.gc_idnumber
                        }}/{{ applicant.gc_key }}"
                        target="_blank"
                      >
                        <button
                          class="btn btn-sm btn-success"
                          matTooltip="Edit"
                          matTooltipPosition="above"
                        >
                          <i class="material-icons">
                            edit
                          </i>
                        </button>
                      </a>
                      <a
                        href="https://gordoncollegeccs.edu.ph/gc/api/print/sis.php?id={{
                          applicant.gc_idnumber
                        }}&key={{ applicant.gc_key }}"
                        target="_blank"
                      >
                        <button
                          class="btn btn-sm btn-success"
                          matTooltip="Print"
                          matTooltipPosition="above"
                        >
                          <i class="material-icons">
                            print
                          </i>
                        </button>
                      </a>
                      <button
                        matTooltip="Undo Confirmation"
                        matTooltipPosition="above"
                        class="btn btn-sm btn-danger"
                        (click)="unconfirmApplicant(applicant)"
                      >
                        <i class="material-icons">
                          undo
                        </i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
                <pagination-controls
                  
                  maxSize="20"
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
            <div *ngIf="noapplicants" style="text-align: center;">
              <h1>NO CONFIRMED APPLICANTS!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
