<div class="main-content">
  <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false">
    <p class="loading" style="color: white;">Please wait...</p>
  </ngx-spinner>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">
              List of Unscheduled Applicants - Total Count:
              <strong>{{ applicantCount }}</strong>
            </h4>
            <p class="card-category">For GCAT Schedule</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <form autocomplete="off">
                  <label for="search" class="p-0 m-0">Search</label>
                  <input
                    class="form-control"
                    name="search"
                    type="text"
                    (keyup)="searchUnscheduledApplicants($event)"
                  />
                </form>
              </div>
              <!-- <div class="col-md-4 ">
                <label for="schedDate " class=" p-0 m-0">Schedule Date</label>
                <input
                  class="form-control"
                  name="schedDate"
                  type="date"
                  [(ngModel)]="schedDate"
                  ngModel
                  required
                />
              </div>
              <div class="col-md-4 ">
                <label for="schedTime" class=" p-0 m-0">Schedule Time</label>
                <input
                  class="form-control"
                  name="schedTime"
                  type="time"
                  [(ngModel)]="schedTime"
                  required
                />
              </div> -->

              <div class="col-md-9">
                <br />
                <pagination-controls
                  class="pull-right"
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>

            <div class="table-responsive" *ngIf="!noapplicants">
              <table class="table table-striped">
                <thead class=" text-primary">
                  <th>No.</th>
                  <th>ID No.</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Program</th>
                  <th>GPA</th>
                  <th>Registration Time</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let applicant of applicants
                        | paginate: { itemsPerPage: 20, currentPage: p };
                      let i = index
                    "
                  >
                    <td>{{ 20 * (p - 1) + i + 1 }}</td>
                    <td>{{ applicant.gc_idnumber }}</td>
                    <td>{{ applicant.si_fullname }}</td>
                    <td>{{ applicant.si_email }}</td>
                    <td>{{ applicant.gc_course }}</td>
                    <td>{{ applicant.gc_gpa }}</td>
                    <td>{{ applicant.gc_regtime }}</td>
                    <td>
                      <button
                        matTooltip="Add Schedule"
                        matTooltipPosition="above"
                        class="btn btn-sm btn-success"
                        (click)="addGCATSchedule(applicant.gc_idnumber)"
                      >
                        <i class="material-icons">
                          note_add
                        </i>
                      </button>
                      <a
                        href="https://gordoncollegeccs.edu.ph/gc/home/#/edit/{{
                          applicant.gc_idnumber
                        }}/{{ applicant.gc_key }}"
                        target="_blank"
                      >
                        <button
                          class="btn btn-sm btn-success"
                          matTooltip="Edit"
                          matTooltipPosition="above"
                        >
                          <i class="material-icons">
                            edit
                          </i>
                        </button>
                      </a>

                      <button
                        matTooltip="Undo Confirmation"
                        matTooltipPosition="above"
                        class="btn btn-sm btn-success"
                        (click)="unconfirmApplicant(applicant)"
                      >
                        <i class="material-icons">
                          undo
                        </i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls
                class="pull-right"
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
            <div *ngIf="noapplicants" style="text-align: center;">
              <h1>NO CONFIRMED APPLICANTS!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
