<div class="main-content">
  <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="fullscreen">
    <p class="loading" style="color: white;">Please wait...</p>
  </ngx-spinner>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">
              List of Unscheduled Applicants - Total Count:
              <strong>{{ applicantCount }}</strong>
            </h4>
            <p class="card-category">For GCAT Schedule</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <form autocomplete="off">
                  <label for="search" class="p-0 m-0">Search</label>
                  <input class="form-control" [(ngModel)]="searchValue" name="search" type="text"
                    (keyup)="searchUnscheduledApplicants($event)" />
                </form>
              </div>

              <div class="col-md-2">
                <label for="">Sort By:</label>
                <form autocomplete="off" class="flexcontainercolumn">
                  <select name="sort" id="sort" class="form-control" [(ngModel)]="sortValue" (change)="setSort(sortValue)"
                    style="margin-top: -5px;">
                    <option value="id">ID NUMBER</option>
                    <option value="name">NAME</option>
                    <option value="email">EMAIL</option>
                    <option value="program">PROGRAM</option>
                  </select>
                </form>
              </div>
              <div class="col-md-2">
                <label for="">Order:</label>
                <form autocomplete="off" class="flexcontainercolumn">
                  <select name="order" id="order" class="form-control" (change)="setOrder($event)"
                    style="margin-top: -5px;">
                    <option value="DESC">DESCENDING</option>
                    <option value="ASC">ASCENDING</option>
                  </select>
                </form>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3 ">
                <label for="time" class="p-0 m-0">Schedule Time</label>
                <select class="form-control" name="time" [(ngModel)]="schedTime">
                  <option value="">SELECT TIME</option>
                  <option *ngFor="let sched of scheds" value="{{ sched.sched_recno }}">
                    {{ sched.sched_date | date : "MMMM dd, y"  }} - {{ sched.sched_time }} | <strong>Count:</strong>
                    {{ " (" + sched.sched_count + ")" }}
                  </option>
                </select>
              </div>
            </div>
            <br>
            <pagination-controls (pageChange)="p = $event" maxSize="15"></pagination-controls>
            <div class="table-responsive" *ngIf="!noapplicants">
              <table class="table table-striped">
                <thead class=" text-primary">
                  <th>No.</th>
                  <th>ID No.</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Program</th>
                  <th>GPA</th>
                  <th>Registration Time</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let applicant of applicants
                        | paginate: { itemsPerPage: 20, currentPage: p };
                      let i = index
                    ">
                    <td>{{ 20 * (p - 1) + i + 1 }}</td>
                    <td>{{ applicant.gc_idnumber }}</td>
                    <td>{{ applicant.si_fullname }}</td>
                    <td>{{ applicant.si_email }}</td>
                    <td>{{ applicant.gc_course }}</td>
                    <td>{{ applicant.gc_gpa }}</td>
                    <td>{{ applicant.gc_regtime }}</td>
                    <td>
                      <button matTooltip="Add Schedule" matTooltipPosition="above" class="btn btn-sm btn-success"
                        (click)="addScheduleForApplicant(applicant)">
                        <i class="material-icons">
                          note_add
                        </i>
                      </button>
                      <a href="https://gordoncollegeccs.edu.ph/gc/home/#/edit/{{
                          applicant.gc_idnumber
                        }}/{{ applicant.gc_key }}" target="_blank">
                        <button class="btn btn-sm btn-success" matTooltip="Edit" matTooltipPosition="above">
                          <i class="material-icons">
                            edit
                          </i>
                        </button>
                      </a>
                      <a href="https://gordoncollegeccs.edu.ph/gc/api/print/sis.php?id={{
                          applicant.gc_idnumber
                        }}&key={{ applicant.gc_key }}" target="_blank">
                        <button class="btn btn-sm btn-success" matTooltip="Print" matTooltipPosition="above">
                          <i class="material-icons">
                            print
                          </i>
                        </button>
                      </a>
                      <button matTooltip="Undo Confirmation" matTooltipPosition="above" class="btn btn-sm btn-danger"
                        (click)="unconfirmApplicant(applicant)">
                        <i class="material-icons">
                          undo
                        </i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
                <pagination-controls maxSize="20" (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
            <div *ngIf="noapplicants" style="text-align: center;">
              <h1>NO CONFIRMED APPLICANTS!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>