<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerAdmission.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
	<div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
		<header class="section-header">
			<h3>Undergraduate Studies</h3>
		</header>

		
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="50" fxFlex.lt-md="100">
				<hr><h5 style="text-align: center;"><strong>Admission Requirements</strong></h5><hr>
				<h5>Freshmen:</h5>
				<div class="row about-cols" style="font-weight: 300">	
					<ul>
						<li>Gordon College Admission Test (GCAT)</li>
						<li>2x2 ID Picture (white background)</li>
						<li>Original F-138 (Report Card)</li>
						<li>Good Moral Character Certificate</li>
						<li>PSA Authenticated Birth Certificate</li>
						<li>Medical Certificate issued by the College Clinic</li>
					</ul>
				</div>

				<h5>Transferees:</h5>
				<div class="row about-cols" style="font-weight: 300">	
					<ul>
						<li>GCAT (Admission Test)</li>
						<li>2x2 ID Picture (white background)</li>
						<li>Official Transcript of Records (from the last University/College attended)</li>
						<li>Certificate of Eligibility to Transfer /Transfer Credential or Honorable Dismissal</li>
						<li>Good Moral Character Certificate</li>
						<li>PSA Authenticated Birth Certificate</li>
						<li>Medical Certificate issued by the College Clinic</li>
					</ul>
				</div>
			</div>

			<div fxFlex="50" fxFlex.lt-md="100">
				<hr><h5 style="text-align: center;"><strong>Enrolment Procedures</strong></h5><hr>
		
				<div class="row about-cols" style="font-weight: 300">	
					<ol>
					 	<li>Secure registration form for Entrance Exam at the admission office</li>
					 	<li>Present duly accomplished registration form to the cashier and pay the exam fee</li>
					 	<li>Attach the official receipt to the form and return to the admission office for the entrance exam schedule</li>
					 	<li>Take the Admission Test on specified date</li>
					 	<li>Claim the entrance exam result and undergo career counselling</li>
					 	<li>Proceed to respective college for interview, submit requirements and get class schedule</li>
					 	<li>Proceed to the encoding and assessment section</li>
					 	<li>Proceed to the cashier for payment</li>
					 	<li>Report to the ID Personnel</li>
					</ol>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="container animated fadeIn" style="background-color: rgb(255, 255, 255);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
	<div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
		<header class="section-header">
			<h3>Senior High School</h3>
		</header>

		<hr><h5><strong>Admission and Enrolment Procedure for Incoming Grade 11</strong></h5><hr>

		<ol>
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
                <div fxFlex="50" fxFlex.lt-md="100">
					<li>PRINCIPAL'S OFFICE (Ground Floor)</li>
					<ul>
						<li>Fill-out Student's Information Profile</li>
					</ul><br>
					<li>CASHIER (Ground Floor)</li>
					<ul>
						<li>Payment for Entrance Examination</li>
					</ul><br>
					<li>GUIDANCE OFFICE (3rd Floor)</li>
					<ul>
						<li>Entrance Examination</li>
					</ul><br>
					<li>PRINCIPAL’S OFFICE (Ground Floor)</li>
					<ul>
						<li>Interview by the Discipline Coordinator and Assistant Principal</li>
					</ul><br>
					<li>PRINCIPAL’S OFFICE (Ground Floor)</li>
					<ul>
						<li>Submit the Complete Admission Requirements</li>
						<ul>
							<li>NSO/PSA Certified Birth Certificate (Original & Photocopy)</li>
							<li>Medical Certificate (Please inquire at the College Clinic at 3rd Floor)</li>
							<li>Junior High School Report Card (F138) </li>
							<li>Junior High School Certificate of Completion</li>
							<li>Good Moral Character Certificate</li>
							<li>NCAE result (For STEM Students ONLY)</li>
							<li>ESC and SHS Voucher Certification (Students from Private Schools ONLY)</li>
						</ul>
						<li>Secure and Fill-out Trial Form</li>
					</ul><br>
				</div>

				<div fxFlex="50" fxFlex.lt-md="100">
					<li>REGISTRAR’S OFFICE (Ground Floor)</li>
					<ul>
						<li>Present Trial Form for Encoding and Assessment</li>
					</ul><br>
					<li>CASHIER (Ground Floor)</li>
					<ul>
						<li>Pay the necessary fee(s) at the Cashier Windows.</li>
						<li>The staff issues Student’s Copy of Enrollment Form (E-Form) and Official Receipt</li>
					</ul><br>
					<li>MIS OFFICE</li>
					<ul>
						<li>Present E-Form and Official Receipt for ID Processing</li>
					</ul><br>
					<li>ROOM 202</li>
					<ul>
						<li>Payment and Claiming of Books, Uniform and ID Lace</li>
					</ul><br>
				</div>
			</div>
		</ol>

		<div class="green-text text-center" ><h3 style="font-weight: bold !important;color: #4caf50!important;">Tuition is FREE for Grade 10 Completers from Public Schools and Completers from Private Schools with ESC or SHS Voucher Certificate</h3></div>
	</div>
</div>