<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerAdmin.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="text-align:center; background-color: #e9e9e9f3;" fxLayoutAlign="center center">
    <div [ngStyle.gt-sm]="{'width':'70vw'}" style="margin-top: 5vh">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center center">
            <div fxFlex="25" fxFlex.lt-md="100" >
				<img src="assets/imgs/bot/sorianoidp.jpg" class="z-depth-2" style="width: 100%" alt=""><br><br>
				<strong><span>IMELDA DP. SORIANO, EdD.,FRIEdr</span></strong><br>
				College President<br /><br />
			</div>
		</div>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center center">
			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/admin/abarintosec.jpg" class="z-depth-2" style="width: 80%" alt=""><br><br>
				<strong><span>ERLINDA C. ABARINTOS, DIT, FRIIT</span></strong><br>
				VP for Administration and Finance<br /><br />
			</div>
			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/admin/paguiod.jpg" class="z-depth-2" style="width: 80%" alt=""><br><br>
				<strong><span>DARWIN P. PAGUIO, Ph.D.,FRIEdr</span></strong><br>
				VP for Academic Affairs<br /><br />
			</div>
			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/admin/gadiaed.jpg" class="z-depth-2" style="width: 80%" alt=""><br><br>
				<strong><span>EDIRIC D. GADIA, Ph.D.,FRIEdr</span></strong><br>
				VP for Research Development and Community Extension Services<br /><br />
			</div>
			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/admin/orlandomj.jpg" class="z-depth-2" style="width: 80%" alt=""><br><br>
				<strong><span>MARY JEAN G. ORLANDO, EdD</span></strong><br>
				VP for Student Welfare and Services<br /><br />
			</div>
		</div>
	</div>
</div>