<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
	<img fxFlex="100" src="assets/banners/subBannerHymn.png" alt="" style="width: 100%;"/>
</div>

<div class="seal animated fadeIn">

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
    <div fxFlex="15"></div>
    <div fxFlex="70">
        <header class="section-header">
            <h3>The Gordon College Hymn</h3>
            <!-- <p>This is the official college seal/logo of Gordon College. This is to be used in legal and formal documents and correspondence of the College.</p> -->
            <!-- <div class="text-center"><img src="../assets/logo/logo_gc.png" alt=""><br><br><br></div> -->
        </header>
    </div>
    <div fxFlex="15"></div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
    <div fxFlex="15"></div>
    <div fxFlex="70">
        <p class="hymn">The sea breeze over Subic Bay</p>
        <p class="hymn">Moderate waves to mighty rest</p>
        <p class="hymn">Sets our heart in inspiring pace</p>
        <p class="hymn">How Gordon College made us best</p><br />
        <p class="hymn">Raise our voices in silence</p>
        <p class="hymn">Sing the praises in cadence</p>
        <p class="hymn">Let this color our daily life</p>
        <p class="hymn">And withstand the pilgrimage.</p><br />
        <p class="hymn">Bless our Alma Mater</p>
        <p class="hymn">Keep her firm and strong</p>
        <p class="hymn">And be able to mold us all</p>
        <p class="hymn">Set us upright on the road</p><br />
        <p class="hymn">Hear the echo of Her song</p>
        <p class="hymn">Feel the warmth of Her voice</p>
        <p class="hymn">Keep the flame of the Torch</p>
        <p class="hymn">At Gordon College proudly we belong.</p>
    </div>
    <div fxFlex="15"></div>
  </div>

</div>