<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#addModal">
          Add Member
        </button>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title ">Title Ng Ina Mo</h4>
              <p class="card-category">Title Ng Ina Mo</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-striped">
                <thead class=" text-primary">
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                  <th>7</th>
                </thead>
                <tbody>
                  <tr>
                    <td>abcdefg</td>
                    <td>abcdefg</td>
                    <td>abcdefg</td>
                    <td>abcdefg</td>
                    <td>abcdefg</td>
                    <td>abcdefg</td>
                    <td>abcdefg</td>
                  </tr>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="uploadModalLabel">Modal Ng Ina mo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off">
          <input class="form-control" name="file" type="file" required>
          <button type="submit" class="btn btn-sm btn-success pull-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="uploadModalLabel">Modal Ng Ina mo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off">
          <div class="form-group">
              <label for="name2">Form Input Ng Ina Mo</label>
              <input class="form-control" name="name2" type="number" required>
          </div>
          <div class="form-group">
              <label for="name2">Form Input Ng Ina Mo</label>
              <input class="form-control" name="name2" type="number" required>
          </div>
          <div class="form-group">
              <label for="name2">Form Input Ng Ina Mo</label>
              <input class="form-control" name="name2" type="number" required>
          </div>
          <div class="form-group">
              <label for="name2">Form Input Ng Ina Mo</label>
              <input class="form-control" name="name2" type="number" required>
          </div>
          <div class="form-group">
              <label for="name2">Form Input Ng Ina Mo</label>
              <input class="form-control" name="name2" type="number" required>
          </div>
          <div class="form-group">
              <label for="name2">Form Input Ng Ina Mo</label>
              <input class="form-control" name="name2" type="number" required>
          </div>
          <div class="form-group">
              <label for="name2">Form Input Ng Ina Mo</label>
              <input class="form-control" name="name2" type="number" required>
          </div>
          <div class="form-group">
              <label for="name2">Form Input Ng Ina Mo</label>
              <input class="form-control" name="name2" type="number" required>
          </div>
          <button type="submit" class="btn btn-sm btn-success pull-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


