<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerCEAS.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
        <div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>We envision the Gordon College-College of Education, Arts and Sciences to be a center of excellence in the field for providing professional training, innovative research and community service.</p>
				</header>
			</div>
			<div class="col-md-6">
				<header class="section-header">
					<h3>Mission</h3>
					<p>The College of Education, Arts and Sciences aims to produce multi-cultured, well-trained, dynamic, and competitive graduates.</p>
				</header>
			</div>
		</div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="100">
				<header class="section-header">
					<h3>Goals</h3><br>
					<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
                        <div fxFlex="50" fxFlex.lt-md="100">

					<span style="text-align: left !important"><strong>The Gordon College - College of Education,Arts and Sciences shall:</strong></span>
					<br><br>
					<ul>
						<li>Provide opportunities that will enable students to:
							<ul>
								<li>acquire high level of professional skills, knowledge, values, and attitudes</li>
								<li>appreciate the needs of the community and community for basic education, and be responsive to the total needs of the individuals in society</li>
								<li>function effectively as teachers in the community and profession</li>
								<li>develop initiative for continued and self-directed learning</li>
								<li>develop critical thinking and scientific inquiry</li>
							</ul>
						</li>
					</ul>
					</div>
					<div fxFlex="50" fxFlex.lt-md="100">
					<ul>
						<li>Develop innovative programs, projects and models of practice by undertaking research and studies.</li>
						<li>Render services to the local communities</li>
						<li>Develop linkages to other colleges and universities, local government agencies, non-governmental organizations, and other institutions and/or industries;</li>
						<li>Undertake research which shall enhance the knowledge base and advance the teaching profession;</li>
						<li>Provide opportunities for faculty development; and</li>
						<li>Influence local and national policies and decision-making related to teaching practices and professional interests.</li>
					</ul>
					</div></div>
				</header>
			</div>
		</div>
	</div>
</div>

<div class="container animated fadeIn" style="background-color: rgb(255, 255, 255);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
				<!-- Course Description -->
				<div fxFlex="75" fxFlex.lt-md="100">
                    <header class="section-header">
                        <h3 class="text-center"><strong>CEAS PROGRAMS</strong></h3><br>
                    </header>
						<h5><strong>BACHELOR OF ARTS IN COMMUNICATON (BACOM)</strong></h5>
						<p class="course-desc">Communication as a field of study covers the various ways by which humans communicate. It focuses on how verbal and non-verbal messages are used to create meanings in different contexts using diverse media platforms. It includes a broad range of subject matter ranging from the study of communication in interpersonal relationships, groups, organizations, and cultures.</p>

						<hr>
						<h5><strong>BACHELOR OF EARLY CHILDHOOD EDUCATION (BECEd)</strong></h5>
						<p class="course-desc">The BECEd is a four-year program. Specifically, this program provides students with fundamental understanding and application of the principles of early childhood care and education, as well as experience in the application of these principles</p>
						
						<hr>
						<h5><strong>BACHELOR OF CULTURE AND ARTS EDUCATON (BACAEd)</strong></h5>
						<p class="course-desc">Culture and Arts Education is a field of specialization engaged in clarifying the conceptual foundations of value-laden creative expressions such as visual arts, music, theater, and dance, in defining its relations to other disciplines of thought and action that address the fundamental question of what it means to creatively express the conditions and possibilities for crafting and asserting creative expressions of being human in diverse contexts, and in developing programs responsive to local and global contexts of production, circulation, and consumption of creative expressions </p>
						
						<hr>
						<h5><strong>BACHELOR OF ELEMENTARY EDUCATION (BEEd)</strong></h5>
						<p class="course-desc">The BEEd is an undergraduate teacher education degree program designed to prepare individuals intending to teach in the elementary level</p>

						<hr>
						<h5><strong>BACHELOR OF PHYSICAL EDUCATION (BPEd)</strong></h5>
						<p class="course-desc">This program allows maximum opportunity for students to pursue various combinations of courses in teaching, coaching, programming, and administration, and within their particular areas of interest</p>

						<hr>
						<h5><strong>BACHELOR OF SECONDARY EDUCATION (BSEd)</strong></h5>
						<h5><strong>Major in:</strong></h5>
						<ul>
							<li>English</li>
							<li>Filipino</li>
							<li>Mathematics</li>
							<li>Science</li>
							<li>Social Studies</li>
						</ul>
						<p class="course-desc">The BSEd is an undergraduate teacher education program designed to equip learners with adequate and relevant competencies to teach in their chosen area of specialization/major in the secondary level</p>
				</div>

				<div fxFlex="25" fxFlex.lt-md="100">
						<img src="assets/imgs/admin/gadiaed.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                        <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                        <strong><span>EDIRIC D. GADIA, Ph.D.,FRIEdr</span></strong><br>
                        Dean, College of Education, Arts, and Sciences<br /><br />
                        </div>

						<img src="assets/imgs/admin/amarilleat.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                        <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                        <strong><span>ANNA THERESA M. AMARILLE, MASE</span></strong><br>
                        Assistatnt Dean, College of Education, Arts, and Sciences<br /><br />
                        </div>
				</div>
		</div>
  </div>
</div>