<div id="home-vmg" class="animated fadeIn" [ngStyle.gt-sm]="{'position': 'relative', 'width': '100vw', 'height': '100%', 'background-color': 'white'}" [ngStyle.lt-md]="{'position': 'relative', 'width': '100vw', 'height': 'calc(100vh)', 'background-color': 'white'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
			<div fxFlex="100" style="text-align: center;">
				<img src="assets/imgs/underconstruction.jpg" [ngStyle.gt-sm]="{'width':'50%'}" [ngStyle.lt-md]="{'width':'100%','margin-top':'25%'}" alt="">
            </div>
    </div>
</div>