<div class="logo text-center">
  <a href="https://www.facebook.com/GordonCollegeOfficial/" target="_blank" class="simple-text">
    <div class="logo-img">
      <img src="assets/img/gc-log.png" />
    </div>
    Gordon College
  </a>
  <h6>Admission Portal</h6>
</div>

<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item" *ngIf="credType=='CCS'">
      <a class="nav-link" [routerLink]="['applicants']">
        <i class="material-icons">group</i>
        <p>All Applicants</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" [routerLink]="['unconfirmed']">
        <i class="material-icons">person</i><span class="badge badge-info">{{unconfirmedCount}}</span>
        <p>Unconfirmed Applicants</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item" *ngIf="credentials.data[0].fa_accounttype=='1'">
      <a class=" nav-link" [routerLink]="['unscheduled']">
        <i class="material-icons">person_add</i><span class="badge badge-info">{{unscheduledSubCount}} - Requirement Submission</span>
        <p>Unscheduled Applicants</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class=" nav-link" [routerLink]="['confirmed']">
        <i class="material-icons">group_add</i><span class="badge badge-info">{{confirmedCount}}</span>
        <p>Confirmed Applicants</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class=" nav-link" [routerLink]="['scheduled']">
        <i class="material-icons">
          how_to_reg
        </i><span class="badge badge-info">{{scheduledCount}}</span>
        <p>Scheduled Applicants</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item" *ngIf="credType=='CCS' 
    ">
      <a class=" nav-link" [routerLink]="['users']">
        <i class="material-icons">supervised_user_circle</i>
        <p>Users</p>
      </a>
    </li>
  </ul>
  <div>
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="fa fa-sign-out"></i>
          <p>
            <span class="d-lg-none d-md-block">Log Out</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>