<ion-content class="ion-padding">
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0)">
                        <img class="img" src="./assets/img/gc-log.png" />
                    </a>
                </div>
                <div class="card-body mx-2">
                    <h4 class="card-title">Gordon College</h4>
                    <h6 class="card-category text-gray">S T U D E N T  P O R T A L</h6>
                    <form #form="ngForm" (ngSubmit)="login($event)">
                      <div class="form-group">
                          <input type="number" name="username" placeholder="Username" ngModel class="form-control" required/>
                      </div>
                      <div class="form-group">
                          <input type="password" name="password" placeholder="Password" ngModel class="form-control" required/>
                      </div>
                      <button class="btn btn-block btn-sm btn-success pull-right" type="submit">Log In</button>
                    </form>
                </div>
                <p class="profile">Apply for Gordon College Admission Test (GCAT) now!</p>
                <a href="https://gordoncollegeccs.edu.ph/gc/home/#/gcatregistration/mobileregister" class="profile">Click Here</a>
            </div>
        </div>
    </div>
</div>
</ion-content>