
<ion-content>
  
  <app-navbar></app-navbar>
  <div class="main-content">
    <div class="container-fluid">
        <div class="card text-center" *ngFor="let class of scheds.data">
            <div class="card-body">
                <h4>{{ class.cl_code }} - {{ class.cl_sucode }}</h4>
                <p>{{ class.su_description }}</p>
                <p class="card-text">{{ class.cl_time }}</p>
                <a href="#" class="card-link">{{ class.cl_day }} | {{ class.cl_room }}</a>
            </div>
            <div class="card-footer">
                <button class="btn btn-block btn-sm btn-info">View</button>
            </div>
        </div>
    </div>
  </div>
</ion-content>


