<footer id="footer" style="font-family: 'Open Sans'">
    <div class="footer-top" style="background-color: grey !important" [ngStyle.lt-md]="{'display':'none'}">
      <div class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">

          <div fxFlex="25" [ngStyle.lt-md]="{'display':'none'}">
            <h2>Gordon College</h2>
            <p style="text-align: justify; font-size: .8rem">A local government-funded college in Olongapo City, Philippines. It was founded on February 24, 1999 by virtue of City Ordinance No. 9, and is composed of four colleges: College of Computer Studies; College of Business and Accountancy; College of Education Arts and Sciences; College of Allied Health Studies. Other academic units include the Institute of Graduate Studies, Technical-Vocational Unit, and Senior High School</p>
          </div>

          <div fxFlex="25" class="footer-contact" [ngStyle.lt-md]="{'display':'none'}">
            <h4>Contact Us</h4>
            <p>
              Olongapo City Sports Complex, <br>
              Donor Street East Tapinac<br>
              Olongapo City, PH 2200 <br>
              <strong>Contact No.:</strong> (047) 602-7175 <br>
              <strong>E-mail:</strong> info@gordoncollege.edu.ph
            </p>

            <div [ngStyle.lt-md]="{'display':'none'}">
              <a href="https://www.facebook.com/GordonCollegeOfficial/" class="facebook" target="_blank"><img src="assets/imgs/facebook.png" style="width:20%"></a>
              <a href="https://twitter.com/Gordon_College_" class="twitter" target="_blank"><img src="assets/imgs/twitter.png" style="width:20%"></a>
            </div>
          </div>

        <!--   <div class="col-lg-3 col-md-6 footer-links">
            <h4>Map</h4>
            <div id="map" style="width:100%; height:220px"></div>
          </div> -->

          <div class="footer-links" fxFlex="25" [ngStyle.lt-md]="{'display':'none'}">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i><a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i><a href="#">Admission</a></li>
              <li><i class="ion-ios-arrow-right"></i><a href="#">Careers and Job Opportunities</a></li>
              <li><i class="ion-ios-arrow-right"></i><a href="#">About GC</a></li>
              <li><i class="ion-ios-arrow-right"></i><a href="#">Contact Us</a></li>
            </ul>
          </div>

          <div class="footer-links" fxFlex="25" [ngStyle.lt-md]="{'display':'none'}">
            <h4>Downloads</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i><a href="#">Student Manual</a></li>
              <li><i class="ion-ios-arrow-right"></i><a href="#">Forefront</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; 2019.<strong>Gordon College</strong>.
      </div>
    </div>
  </footer><!-- #footer -->