
<div class="collegeprof animated fadeIn">
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
	<img fxFlex="100" src="assets/banners/subBannerProfile.png" alt="" style="width: 100%;"/>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
	<div fxFlex="15"></div>
	<div fxFlex="70">
	<header class="section-header">
		<h3>About Gordon College</h3>
		<p>A local government-funded college in Olongapo City, Philippines. It was founded on February 24, 1999 by virtue of City Ordinance No. 9, and is composed of four colleges: College of Computer Studies; College of Business and Accountancy; College of Education Arts and Sciences; College of Allied Health Studies. Other academic units include the Institute of Graduate Studies, Technical-Vocational Unit, and Senior High School</p>
	</header>
	</div>
	<div fxFlex="15"></div>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="0px" style="text-align: center;">
	<div fxFlex="60">
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
			<div fxFlex="15"></div>
			<div fxFlex="70">
				<header class="section-header">
					<h3>Vision</h3>
					<p>By 2025, the College envisions to be a premier local institution of higher learning in Region 3 committed to the holistic development of the human person and society.</p>
				</header>
			</div>
			<div fxFlex="15"></div>
		</div>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
			<div fxFlex="15"></div>
			<div fxFlex="70">
				<header class="section-header">
					<h3>Mission</h3>
					<p>To produce well-trained, skilled, dynamic, and competitive individuals imbued with values and attitudes responsive to the changing needs of the local, national and global communities.</p>
				</header>
			</div>
			<div fxFlex="15"></div>
		</div>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
			<div fxFlex="15"></div>
			<div fxFlex="70">
				<header class="section-header">
					<h3>Goals</h3>
					<!-- <ul class="text-justify"> -->
						<p>Provide opportunities that will enable individuals to acquire a high level of professional, technical and vocational courses of studies.
						<br><br>Develop innovative programs, projects, and models of practice by undertaking functional and relevant research studies.
						<br><br>Promote community development through relevant extension programs.
						<br><br>Provide opportunities for employability and entrepreneurship of graduates</p>
					<!-- </ul> -->
				</header>
			</div>
			<div fxFlex="15"></div>
		</div>
	</div>
	<div fxFlex.lt-md="100" fxFlex="20">
		<table class="table table-sm" style="width:100%;height: 95%;">
			<thead>
			  <tr class="text-center" style="background-color: #01a42f">
				<td colspan="3"><img src="assets/imgs/header_board.png" class="img-fluid" style="width:100%"></td>
			  </tr>
			  <tr class="text-center text-light" style="background-color: #034909; font-size: .8rem">
				<td style="width: 50%" class="align-middle text-white">Name of Examination</td>
				<td style="width: 25%" class="align-middle text-white">Passing Rate</td>
				<td style="width: 25%" class="align-middle text-white">Rank in Philippines</td>
			  </tr>
			</thead>
			<tbody class="bg-white">
			  <tr>
				<td class="align-middle" >Midwife Licensure Exam</td>
				<td class="text-center align-middle"><strong>91%<br><span class="text-success" style="font-style: italic; font-size: .7rem">Above Average</span></strong></td>
				<td class="align-middle text-center"><strong>20</strong> out of 150 schools</td>
			  </tr>
		  
			  <tr>
				<td class="align-middle" >Customs Broker Licensure Exam</td>
				<td class="align-middle text-center" ><strong>81%<br><span class="text-success" style="font-style: italic; font-size: .7rem">Above Average</span></strong></td>
				<td class="align-middle text-center" ><strong>2</strong> out of 58 schools</td>
			  </tr>
		  
			  <tr>
				<td class="align-middle" >Nurses Licensure Exam</td>
				<td class="align-middle text-center" ><strong>81%<br><span class="text-success" style="font-style: italic; font-size: .7rem">Above Average</span></strong></td>
				<td class="align-middle text-center" ><strong>129</strong> out of 317 schools</td>
			  </tr>
		  
			  <tr>
				<td class="align-middle" >Licensure Exam for Secondary Teacher</td>
				<td class="align-middle text-center" ><strong>72%<br><span class="text-success" style="font-style: italic; font-size: .7rem">Above Average</span></strong></td>
				<td class="align-middle text-center" ><strong>187</strong> out of 1225 schools</td>
			  </tr>
		  
			  <tr>
				<td class="align-middle" >Licensure Exam for Elementary Teacher</td>
				<td class="align-middle text-center" ><strong>62%<br><span class="text-success" style="font-style: italic; font-size: .7rem">Above Average</span></strong></td>
				<td class="align-middle text-center" ><strong>224</strong> out of 1037 schools</td>
			  </tr>
		  
			  <tr>
				<td class="align-middle" >CPA Licensure Exam</td>
				<td class="align-middle text-center" ><strong>35%<br><span class="text-success" style="font-style: italic; font-size: .7rem">Above Average</span></strong></td>
				<td class="align-middle text-center" ><strong>140</strong> out of 389 schools</td>
			  </tr>
		  <!-- style="background-color: #034909"  -->
			  <tr><td colspan="3" class="text-dark"><span style="font-style: italic; font-size:.7rem"><strong>Source: <a href="http://finduniversity.ph/universities/gordon-college/" target="_blank" class="text-dark">http://finduniversity.ph/universities/gordon-college/</a></strong></span></td></tr>
			</tbody>
		  </table>
	</div>
</div>
</div>

<div>
	<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;background-color: white;">
		<div fxFlex="15"></div>
		<div fxFlex="70">
			<header class="section-header">
				<h3>HISTORY</h3>
			</header>
			<p class="text-justify">Gordon College was an off-shoot of the Olongapo City Training Center, then a training center for skilled manpower for employment at the former Naval facility of the United States. With the facility’s closure and the slowing down of demand for skilled workers, City residents shifted to professional courses. The unavailability of affordable tertiary institutions for urban poor sector of the population led the City Government of Olongapo, during the incumbency of Hon. Katherine H. Gordon, then City Mayor, to open the Olongapo City Colleges through City Ordinance No. 9 Series of 1999.</p>
			<p class="text-justify">Initially, the College offered Bachelor of Science in Accountancy and Bachelor of Science in Computer Studies to 177 enrolees. Additional four-year programs were offered in the succeeding years to accommodate the demand of City residents for other programs.</p>
			<p class="text-justify">City Ordinance No. 42, Series of 2002 was passed in May 2002, providing a change in the name of Olongapo City Colleges to Gordon College, its present name, in honor of the Gordon families who greatly contributed to the development of the City of Olongapo. In the same year, the College was officially accepted as a member of the Association of Local Colleges and Universities (ALCU).</p>
			<p class="text-justify">In 2004, a revision on the legal basis for the creation and operation of Gordon College was made through City Ordinance No. 36, Series of 2004. In the same year, the College was granted by the Commission on Higher Education (CHED), Region III, and the certification to operate with autonomy as per provisions of the Local Government Code of 1991.</p>
			<p class="text-justify">Today, in addition to its undergraduate programs and TESDA accredited training programs, the College opened its graduate programs.</p>
		</div>
		<div fxFlex="15"></div>
	</div>
</div>