<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerPublication.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
		<header class="section-header">
			<h3>THE FOREFRONT</h3>
			<p></p>
			<p class="text-justify">The <strong>Forefront</strong> is the official student publication of Gordon College, Olongapo City’s local college.</p>
			<p class="text-justify">The Forefront was re-established on June 2013, with the desire to continue the growth and development of responsible journalism in Gordon College, as a means of strengthening ethical values, encouraging critical and creative thinking, and developing moral character and personal discipline in accordance with the Campus Journalism Act of 1991 (R.A. 7079).</p>
		</header>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>As the official student publication of Gordon College, The Forefront upholds the students’ rights to freedom of speech and expression through the practice of professional campus journalism, as well as the promotion of students’ welfare through the dissemination of truthful news and information.</p>
				</header>
			</div>
			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Mission</h3>
					<p class="text-justify">To provide a venue for students to exercise campus press freedom and develop responsible journalism leading to their empowerment, a more conscious social transformation, and the promotion of truth in information.</p>
				</header>
			</div>
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
                <div fxFlex="100" fxFlex.lt-md="100">
					<br>
					<header class="section-header">
						<h3>Goals and Objectives</h3>
						<p class="text-left">The Forefront shall at all times strive to:</p>
						<ul>
							<li>Inform the public (i.e. the general population of the College, including the administration, and the general public outside the College) with news of relevance and interest;</li>
							<li>Serve as a venue for campus opinion and in maintaining an atmosphere of free and responsible discussion and of intellectual exploration;</li>
							<li>Provide an outlet for students’ suggestions for the betterment of the campus;</li>
							<li>Develop students’ powers of observation and discrimination concerning relative merits of news articles and;</li>
							<li>Provide an opportunity for journalistic and creative writing.</li>
						</ul>
					</header>
				</div>
			</div>

		<!-- 	<div class="col-md-3 text-center">
				<img src="assets/imgs/admin/idosrv.jpg" style="width: 90%" class="z-depth-2" alt=""><br /><br />
				<strong><span>ROGER V. IDOS</span></strong><br>
				Coordinator, Student Placement and Linkages Unit<br /><br />
			</div> -->
		</div>
	</div>
</div>

<div class="container animated fadeIn" style="background-color: rgb(255, 255, 255);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
		<header class="section-header">
			<h3>The Forefront Logo</h3>
			<div class="text-center" fxLayoutAlign="center"><img src="assets/logo/logo_forefront.png" class="img-fluid" alt=""></div>
	    </header>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="100" fxFlex.lt-md="100">
				<p style="text-align:justify">The official logo of The Forefront consists of two elements and two colors. However, it has been enhanced by the current staff to create a more modern feel, which appeals to the current generation of students.</p>
				<p style="text-align:justify">A quill represents the writing profession. Its color, red, symbolizes courage and sacrifice.</p>
				<p style="text-align:justify">A stem of laurel leaves signifies triumph. Its color, yellow, symbolizes the nobility of the writing profession.</p>
				<p style="text-align:justify">The old logo has the quill and stem of laurel leaves forming a capital letter ‘F’, which stands for The Forefront.  The current logo, on the other hand, still features a quill forming a capital letter ‘F’ but the stem of laurel leaves can be found behind the quill. The current logo gives more importance to the writing profession and signifies how triumph highlights the latter. The colors have also been made more vibrant to show a more active participation of the students in The Forefront’s cause.</p>
			</div>
		</div>
	</div>
</div>