<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerOrgChart.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" [ngStyle.gt-sm]="{'height': '100%', 'background-color': '#e9e9e9f3', 'text-align':'center'}" [ngStyle.lt-md]="{'height': '100vh', 'background-color': '#e9e9e9f3', 'text-align':'center'}" fxLayoutAlign="center">
    <div style="margin-top: 10px;padding-bottom: 10px;">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
			<div fxFlex="100">
				<img src="assets/imgs/orgchart.jpg" [ngStyle.gt-sm]="{'width': '80vw'}" [ngStyle.lt-md]="{'width': '100vw'}" alt="">
			</div>
		</div>
	</div>
</div>