<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerCHTM.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
        <div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>To be a center of excellence in tourism and hospitality management with high standard through instruction, research and extension.</p>
				</header>
			<!-- </div>
			<div class="col-md-6"> -->
				<header class="section-header">
					<h3>Mission</h3>
					<p>To produce well-trained, skilled, dynamic, and competitive service provider professionals in the tourism and hospitality industry imbued with values, attitudes, and good characters to the needs of the local, national, and global communities.</p>
				</header>
			</div>
			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Objectives</h3>
					<ul>
						<li>To adequately equip the students with the fundamental knowledge, attitudes, and skills in food and beverages, planning, preparation, management in the hotel and restaurant, tourism services and allied fields in order to prepare them for entry-level professional responsibilities.</li>
						<li>To provide quality education to students and provide sufficient exposure to the realities of the work environment whether in local community or abroad through international practicum training program.</li>
						<li>To provide proper motivation, opportunities for the inculcation of values, and promotion of personal and professional growth.</li>
						<li>To provide skills for self-corporate employment.</li>
					</ul>
				</header>
			</div>
		</div>
	</div>
</div>

<div class="container animated fadeIn" style="background-color: rgb(255, 255, 255);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
					<!-- Course Description -->
					<div fxFlex="75" fxFlex.lt-md="100">
                        <header class="section-header">
                            <h3 class="text-center"><strong>CHTM PROGRAMS</strong></h3><br>
                        </header>
							<h5><strong>BACHELOR OF SCIENCE IN HOSPITALITY MANAGEMENT (BSHM)</strong></h5>
							<p class="course-desc">The Bachelor of Science in Hospitality Management is a four-year program that prepares students to have employable skills/competencies for them to be competitive in the hospitality industry locally and globally.</p>
							<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
								<div fxFlex="40" fxFlex.lt-md="100">
									<h5><strong>Career Opportunities</strong></h5>
									<ul>
										<li>Banquet Manager/Supervisor</li>
										<li>Restaurant/Outlet/Catering Manager/Supervisor</li>
										<li>Housekeeping Manager/Supervisor</li>
										<li>Front Office Manager/Supervisor</li>
										<li>Resort/Club Manager/Supervisor</li>
										<li>Convention/Event Manager/Supervisor</li>
										<li>Bar Manager/Supervisor</li>
										
									</ul>
								</div>
								<div fxFlex="40" fxFlex.lt-md="100">
									<br>
									<ul>
										<li>Pastry Chef</li>
										<li>Executive Chef</li>
										<li>Sales and Marketing Manager/Supervisor</li>
										<li>Recreation Director/Leisure Manager</li>
										<li>Hotel/Restaurant Consultant</li>
										<li>Kitchen Operations Supervisor</li>
										<li>Head/Captain Waiter</li>
									</ul>
								</div>
							</div>
							
							<hr>
							<h5><strong>BACHELOR OF SCIENCE IN TOURISM MANAGEMENT (BSTM)</strong></h5>
							<p class="course-desc">The Bachelor of Science in Tourism Management is a four-year degree program that enables students to become globally competitive through various local and international exposures such as educational tours, conferences, and training programs in the different facets of the tourism industry.</p>
							<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
								<div fxFlex="40" fxFlex.lt-md="100">
									<h5><strong>Career Opportunities</strong></h5>
									<ul>
										<li>Tour Operator</li>
										<li>Travel/Tour Guide</li>
										<li>Event Organizer</li>
										<li>Tourism Consultant</li>
										<li>Airline Steward/Stewardess</li>
									</ul>
								</div>
								<div fxFlex="40" fxFlex.lt-md="100">
									<br>
									<ul>
										<li>Reservation Officer/Manager</li>
										<li>Resort/Hotel Manager</li>
										<li>Tourism Academician</li>
										<li>Government Tourism Officer</li>
										<li>Tourism Research Planner</li>
									</ul>
								</div>
							</div>
            </div>

            <div fxFlex="25" fxFlex.lt-md="100">
							<img src="assets/imgs/admin/lazaroma.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt="" /><br /><br />
                            <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                            <strong><span>MARK ALVIN V. LAZARO, MBA</span></strong><br>
							Dean, College of Hospitality and Tourism Management<br /><br />
                            </div>
                            <hr>
                            <h5 style="text-align: center; font-weight: 400;font-size: 20px;">AFFILIATION</h5>
                            <img src="assets/imgs/cohrep.png" [ngStyle.gt-sm]="{'width': '80%', 'margin-top': '-20px', 'margin-left':'10%'}" [ngStyle.lt-md]="{'width': '80%', 'margin-left': '10%', 'margin-top': '-20px'}" class="z-depth-2" alt="" />
            </div>
        </div>
    </div>
</div>