<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerGuidance.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
		<header class="section-header">
			<!-- <h3>College of Computer Studies</h3>
			<p></p> -->
			<p class="text-justify">The <strong>Guidance and Admission Unit</strong> of Gordon College is based on philosophical and psychological assumptions, which believe that individuals are positive, forward-moving, basically good, rational, socialized, realistic, cooperative, constructive, and trustworthy. They are ultimately self-actualizing. They know what is best for themselves under normal or ideal conditions. However, when problem and difficulty arise, the individual is lead to believe that he is unworthy which often leads to actions that may harm themselves and others. In this case, the individual must be helped to become a full functioning person with optimal psychological adjustment and maturity. In other words, Gordon College students must be helped to move towards self-actualization or experience full humanness in thorough enjoyment of life in all its aspects.</p>
		</header>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="75" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>The Guidance and Admission Unit shares and supports the vision-mission of Gordon College committed to the holistic development of students and society. The Office envisions its program to be an effective instrument in assisting students to realize their full potential and to become effective members of the society.</p>
				</header>
			<!-- </div>
			<div class="col-md-6"> -->
				<header class="section-header">
					<h3>Mission</h3>
					<p>The Guidance and Admission Unit provides assistance and service to students’ developmental needs and help them become dynamic, competitive individuals imbued with values and guide them to be secured, forward-moving, rational, self-directed, and fully functioning member of the society.</p>
				</header>
			<!-- </div>
			<div class="col-md-5"> -->
				<header class="section-header">
					<h3>Goals and Objectives</h3>
					<p class="text-left">The Guidance and Admission Unit offers a set of services utilizing integrated approach to the development of a well-functioning individual primarily by helping them utilize their potentials to the fullest. The function of the Guidance and Admission Unit is aimed at:</p>
					<ul>
						<li>Assisting the students in problem solving and decision-making with regards to personal, family, and academic concerns so they can become effective members of society.</li>
						<li>Providing the students with personal–social information that will help them develop their personalities and social life, with educational-academic information that would help them select their proper academic setting and program.</li>
						<li>Addressing the various needs of students so they may develop holistically as an individual.</li>
					</ul>

					<p class="text-left">Specifically the Guidance and Admission Unit aims to:</p>
					<ul>
						<li>Facilitate the client’s self-awareness and decision-making by conducting seminars and symposium.</li>
						<li>Conduct career guidance to help students decide for their vocational and personal development.</li>
						<li>Administer standardized psychological tests to determine the personality and intellectual ability of students.</li>
					</ul>
				</header>
			</div>

            <div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/admin/bautistama.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>MECHEL A. BAUTISTA</span></strong><br>
                Coordinator, Guidance and Admission Unit<br /><br />
                </div>
			</div>
		</div>
	</div>
</div>