<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;" class="animated fadeIn">
<img src="assets/banners/subBannerIGS.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>
<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
        <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw','margin-left':'0'}">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
		<header class="section-header">
			<h3>Institute of Graduate Studies</h3>
			<p>The mission of the Institute of Graduate Studies of Gordon College is to provide quality master’s degree programs and opportunities for continuing professional and carrer development for students whose academic preparation and personal characteristics foresee success in graduate studies.  Each graduate program is firmly grounded in theorectical and empirical bodies of knowledge.  Students are challenged to think critically and creatively, and to apply theories to practice in an atmosphere of inquiry and dynamic exchange with faculty and each other</p>
		</header>
        </div>
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
			<div fxFlex="33" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Philosophy</h3>
					<p>The development and administration fo graduate degree programs which reflect high academic standards for advance studies is anchored in Olongapo City’s policy of providing access to quality, responsive and lifelong education primarily for its constituents.</p>
				</header>
			</div>
			<div fxFlex="33" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>An excellent community of scholars devoted to increasing human knowledge through graduate researches, instruction and extension services that shall lead the advancement of local and national development.</p>
				</header>
            </div>
            <div fxFlex="33" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Mission</h3>
					<p>The Institute of Graduate Studies shall provide the highest quality of graduate instruction, shall promote relevant researches and extension services in education, nursing professions, business and public administration, and other fields deemed relevant.</p>
				</header>
			</div>
        </div>
    </div>
	</div>

    <div class="container animated fadeIn" style="background-color: rgb(255, 255, 255);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
        <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw','margin-left':'0'}">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
            <!-- Course Description -->
            <div fxFlex="75" fxFlex.lt-md="100">
                <header class="section-header">
                    <h3>IGS PROGRAMS</h3>
                </header>
                <h3><strong>Master of Arts in Education (MAEd) Major in Educational Management</strong></h3>
                <p class="course-desc">The MAEd Program prepares teachers for the wide-ranging positions and roles in the field of education. It prepares individuals for the various administrative and supervisory, as well as teaching positions in elementary, secondary, post-secondary and vocational programs.</p>
                <hr>
				<h3><strong>Master of Arts in Nursing (MAN) Major in Administration of Nursing School and Services</strong></h3>
                <p class="course-desc">The MAN Program is designed to prepare nurses for managerial and supervisory positions in nursing schools and services, and in community health nursing. </p>
                
				<hr>
				<h3><strong>Master in Business Management (MBM) </strong></h3>
                <p class="course-desc">The MBM Program is designed to prepare graduate students for managerial and supervisory positions in government, businesses, and non-governmental institutions. Emphasis of the program is on problem solving, decision-making, and leadership. </p>
                
				<hr>
				<h3><strong>Master in Public Administration (MPA) </strong></h3>
                <p class="course-desc">The MPA Program is designed for graduate students with career interests in public governance and administration. The curriculum is balanced with theories and applied concepts, and assures practical experiences for the future administrators. The program requires that graduate students devote attention to general professional development. </p>
            </div>

            <div fxFlex="25" fxFlex.lt-md="100">
                <img src="assets/imgs/admin/anicasrp.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>ROEL PALO ANICAS, DA,EdD,FRIEdr</span></strong><br>
              Dean, Institute of Graduate Studies
              </div>
            </div>
        </div>
        </div>
    </div>