<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerCAHS.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
        <div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>By 2025, the College of Allied Health Studies is envisioned to be a Center of Excellence in Allied Health Education in Region III and dedicated to being a forerunner in providing research-inclined instruction, evidence-based practice and community–responsive health care education committed to the holistic development of the human person.</p>
				</header>
			</div>
			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Mission</h3>
					<p>The College of Allied Health Studies aims to produce competent, highly skilled, and values-driven health care providers imbued with excellent professional and ethical standards who are able to meet the changing needs of the local, national, and global communities.</p>
				</header>
			</div>
		</div>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Goals</h3>
					<p class="text-justify" style="text-align: justify;">The College of Allied Health Studies programs aim to produce a fully functioning and proficient health care provider who is able to perform the competency standards based on the program outcomes in accordance to the existing issuance and guidelines of the Commission on Higher Education.</p>
				</header>
			</div>

			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>CORE VALUES</h3>
					<ol>
						<li><strong>EXCELLENCE</strong> - competence in delivering healthcare services to the community and clientele</li>
						<li><strong>COMMITMENT</strong> - commitment to a culture of discipline, integrity and professionalism</li>
						<li><strong>HUMANISTIC</strong> - displays passion to care and respect for the dignity of the community and clientele</li>
					</ol>
				</header>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">
				<p>A GC-CAHS graduate upholds character-driven service committed towards achieving quality healthcare and development in the community.</p>
			</div>
		</div> -->
	</div>
</div>

<div class="container animated fadeIn" style="background-color: rgb(255, 255, 255);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
					<!-- Course Description -->
					<div fxFlex="75" fxFlex.lt-md="100">
                        <header class="section-header">
                            <h3 class="text-center"><strong>CAHS PROGRAMS</strong></h3><br>
                        </header>
							<h5><strong>BACHELOR OF SCIENCE IN NURSING</strong></h5>
							<p class="course-desc">The BSN is a four-year program consisting of general education and professional courses. Professional courses are threaded through from the first year thru the fourth year with emphasis on the nursing concepts with corresponding Related Learning Experiences (RLE). The BSN program provides an intensive nursing practicum that will refine further the nursing competencies to ensure achievement of the BSN program outcomes required of an entry level nurse</p>
							
							<hr>
							<h5><strong>BACHELOR OF SCIENCE IN MIDWIFERY</strong></h5>
							<p class="course-desc">Bachelor of Science in Midwifery (BSM) is a four year ladderized degree program designed to equip students with knowledge and skills in helping women in their childbearing cycle and birthing process. Students are trained in maternity care during pregnancy, labor, delivery, OB emergencies and post-partum. The program also teaches students how to care for infants and children.</p>
							<p class="course-desc">The BSM program aims to provide students with knowledge on the different drugs and medications used in midwifery pharmacology, reproductive health and the administration and supervision of health care facilities. The program gives special emphasis on Community Health Service Management and Family Planning.</p>
							
							<hr>
							<h5><strong>GRADUATE IN MIDWIFERY</strong></h5>
							<!-- <p class="course-desc">A two-year BS Computer Science ladderized and non-degree program leading to a diploma in "Associate in Computer Technology" </p> -->
            </div>

            <div fxFlex="25" fxFlex.lt-md="100">
                <img src="assets/imgs/admin/samontetc.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>THEA CAMILLE T. SAMONTE,<br> RN, MAN</span></strong><br>
              	OIC-Dean, College of Allied Health Studies<br /><br />
                </div>
                <img src="assets/imgs/admin/riverams.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>MARIA SANDRA RIVERA,<br> RM, MCHS</span></strong><br>
                  Assistant Dean, College of Allied Health Studies<br /><br />
                </div>
            </div>
        </div>
    </div>
</div>