<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">{{ credAdmin.data[0].fa_fname + ' ' + credAdmin.data[0].fa_mname + ' ' + credAdmin.data[0].fa_lname + ' ' + credAdmin.data[0].fa_extname}}</h4>
                        <p class="card-category">Profile</p>
                    </div>
                    <div class="card-body">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
