<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerCBA.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
        <div fxFlex="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>A center of excellence in accounting and business education that develops competitive leaders and professionals for providing professional training, innovative research and relevant extension services.</p>
				</header>
			</div>
		</div>
		<br />
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Mission</h3>
					<p class="text-center">To produce quality professionals, the College of Business and Accountancy commits to:</p>
					<ul class="text-justify">
						<li>Support professional development of the students through superior business coaching and training that is consistent with the attitudes and values required in the formation of competent and socially responsible professionals.</li>
						<li>Provide learning experience that will provide sufficient exposure to the realities of the work environment.</li>
						<li>Dedicate resources to teaching research and community service.</li>
						<li>Pursue beneficial industry linkages and extend help and manpower to the community.</li>
					</ul>
				</header>
			</div>
			<div fxFlex="50" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Goals</h3>
					<ul class="text-justify">
						<li>Provides students an opportunity to excel in the rigorous academic business program</li>
						<li>Ensure that programs are accessible, consistent with the vision, mission and goals of the Gordon College.</li>
						<li>Value ties with the business and not-for-profit communities and work to create opportunities of mutual benefit.</li>
						<li>Provide opportunities for entrepreneurship and employability of students.</li>
						<li>Maintain high standards of professionalism and ethical conduct.</li>
					</ul>
				</header>
			</div>
		</div>
	</div>
</div>

<div class="container animated fadeIn" style="background-color: rgb(255, 255, 255);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <!-- Course Description -->
            <div fxFlex="75" fxFlex.lt-md="100">
            <header class="section-header">
                <h3 class="text-center"><strong>CBA PROGRAMS</strong></h3><br>
            </header>
                <h5><strong>BACHELOR OF SCIENCE IN ACCOUNTANCY (BSA)</strong></h5>
                <p class="course-desc">BS Accountancy provides general accounting education to students wanting to pursue a professional career in Accountancy in general and in Public Accounting in particular. It complies with the latest competency framework for professional accountants issued by the International Federation of Accountants (IFAC) through their International Education Standards. Thus, this qualifies the graduate of this program to take assessments leading to certifications in Accountancy given by the Professional Regulatory Commission - Board of Accountancy (PRC-BOA) and other global professionalAccountancy organizations.</p>
								
				<hr>
                <h5><strong>BACHELOR OF SCIENCE IN BUSINESS ADMINISTRATION MAJOR IN FINANCIAL MANAGEMENT (BSBA-FM)</strong></h5>
                <p class="course-desc">The Financial Management program prepares the graduates for various careers in financial management as well as in related fields, including but not limited to, corporate finance, investment management, banking, credit, trust, operations, insurance, foreign currency markets, money markets, capital markets, and other financial securities markets.</p>

				<hr>
                <h5><strong>BACHELOR OF SCIENCE IN BUSINESS ADMINISTRATION MAJOR IN HUMAN RESOURCE AND DEVELOPMENT MANAGEMENT (BSBA-HRM)</strong></h5>
                <p class="course-desc">The Human Resource Management prepares the graduate for career in the Human Resources Department of any organization, handling the many diverse human capital requirements of the organization, including recruitment, staffing, training and career development</p>

				<hr>
                <h5><strong>BACHELOR OF SCIENCE IN BUSINESS ADMINISTRATION MAJOR IN MARKETING MANAGEMENT (BSBA-MM)</strong></h5>
                <p class="course-desc">The Marketing Management program prepares the graduate for careers in marketing, market research, advertising, and public relations. The curriculum provides the graduate with both technical skills and competencies required in the field, but also the flexible mindset that is necessary to stay competitive in a constantly changing business environment.</p>

								
				<hr>
                <h5><strong>BACHELOR OF SCIENCE IN CUSTOMS ADMINISTRATION</strong></h5>
                <p class="course-desc">The Customs Administration program covers the functional areas of the customs broker profession, national and international customs management, international trade and supply chain. It involves acquisition of ethical and technical knowledge, skills and competence, nurturing critical thinking and preparation of graduates toward professional leadership, organizational success and social responsibility.</p>
				<p class="course-desc">The program is an interdisciplinary and critical thinking-focused program composed of the following integrated elements: customs and tariff management with fraud detection and management, international trade and trade facilitation, transportation and supply chain management.</p>
            </div>

            <div fxFlex="25" fxFlex.lt-md="100">
                <img src="assets/imgs/admin/dimeng.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>GLORIA DIMEN, CPA, MBM</span></strong><br>
                  Dean, College of Business and Accountancy<br /><br />
                </div>
            </div>
        </div>
    </div>
</div>