<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
	<img fxFlex="100" src="assets/banners/subBannerSeal.png" alt="" style="width: 100%;"/>
</div>

<div class="seal animated fadeIn">

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
    <div fxFlex="15"></div>
    <div fxFlex="70">
      <header class="section-header">
        <h3>The College Seal</h3>
        <p>This is the official college seal/logo of Gordon College. This is to be used in legal and formal documents and correspondence of the College.</p>
        <div class="text-center"><img src="assets/logo/logo_gc.png" alt=""><br><br><br></div>
      </header>
    </div>
    <div fxFlex="15"></div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="text-align: center;">
    <div fxFlex="15"></div>
    <div fxFlex="70">
      <p style="text-align: justify">The colors green and yellow signify the community college’s commitment to sustainable development or a development for all generations as it works towards environmental sustainability in its attainment of its vision, mission and goals. “Ulo ng Apo” represents the city of Olongapo where the local Higher Education Institution is based. This symbolizes the ability of its students to lead and make a difference in the community.</p>
      <p style="text-align: justify">The torch illuminates a book which represents the ability to serve as a guiding light for others. It also shows how education is a beacon of light that nurture learning. It is strategically placed beneath the Ulo ng Apo signifying that knowledge must be used, not for knowledge’s sake, but more for the community which includes its stakeholders.</p>
      <p style="text-align: justify">The circular wreath made of interlocking branches and leaves represents the unity and strength of stakeholders and its students who stand among the distinguished scholars the local HEI molded and developed. With the wreath of laurel leaves being a symbol of honor and victory, students, faculty and the leaders of the institution are expected to achieve victory over ignorance while remaining honorable and preserving integrity towards excellence.</p>
      <p style="text-align: justify">The platinum colored shield placed behind the Ulo ng Apo represents the boldness of its students in pursuit of new horizons of unparalleled intellectual success. To remind its students staff and all the members of the institution to be bold and brave enough to explore and seek new opportunities beyond the four corners of the college towards the development of the community they belong to.</p>
      <p style="text-align: justify">Under the shield is the year that Gordon College was founded. This represents the number of years of upholding its values. Three values guide the college, namely: excellence; character and service which shall guide the institutions’ trifocal function of instruction, research and extension.</p>
      <p style="text-align: justify">The logo is in a form of circle, symbolizing the perfect fulfillment of a holistic educational process.</p>
    </div>
    <div fxFlex="15"></div>
  </div>

</div>