<ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">List of Unscheduled Applicants</h4>
            <p class="card-category">For GCAT Schedule</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 ">
                <label for="schedDate " class=" p-0 m-0">Schedule Date</label>
                <input
                  class="form-control"
                  name="schedDate"
                  type="date"
                  [(ngModel)]="schedDate"
                  ngModel
                  required
                />
              </div>
              <div class="col-md-3 ">
                <label for="schedTime" class=" p-0 m-0">Schedule Time</label>
                <input
                  class="form-control"
                  name="schedTime"
                  type="time"
                  [(ngModel)]="schedTime"
                  required
                />
              </div>

              <div class="col-md-1"></div>
              <div class="col-md-5">
                <form
                  (submit)="searchUnscheduledApplicants($event)"
                  autocomplete="off"
                >
                  <label for="search" class="p-0 m-0">Search</label>
                  <input
                    class="form-control"
                    name="search"
                    type="text"
                    (keyup)="searchUnscheduledApplicants($event)"
                  />
                </form>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-striped">
                <thead class=" text-primary">
                  <th>No.</th>
                  <th>ID No.</th>
                  <th>Full Name</th>
                  <th>Course</th>
                  <th>Email</th>
                  <th>GPA</th>
                  <th>Registration Time</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let applicant of applicants
                        | paginate: { itemsPerPage: 20, currentPage: p };
                      let i = index
                    "
                  >
                    <td>{{ 20 * (p - 1) + i + 1 }}</td>
                    <td>{{ applicant.gc_idnumber }}</td>
                    <td>{{ applicant.si_fullname }}</td>
                    <td>{{ applicant.si_email }}</td>
                    <td>{{ applicant.gc_course }}</td>
                    <td>{{ applicant.gc_gpa }}</td>
                    <td>{{ applicant.gc_regtime }}</td>
                    <td>
                      <button
                        class="btn btn-sm btn-success"
                        title="Add Schedule"
                        (click)="addGCATSchedule(applicant.gc_idnumber)"
                      >
                        <i class="material-icons">
                          note_add
                        </i>
                      </button>
                      <a
                        href="https://gordoncollegeccs.edu.ph/gc/home/#/edit/{{
                          applicant.gc_idnumber
                        }}/{{ applicant.gc_key }}"
                        target="_blank"
                      >
                        <button
                          class="btn btn-sm btn-success"
                          title="Update Information"
                        >
                          <i class="material-icons">
                            edit
                          </i>
                        </button>
                      </a>
                      <button
                        class="btn btn-sm btn-success"
                        (click)="sendMail(applicant)"
                      >
                        <i class="material-icons">
                          email
                        </i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
