<section class="numberscontainer">
<div class="container">
    <div class="numbers">
        <div><h1 style="margin:0!important;text-align: center;">BY THE NUMBERS</h1></div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
            <div fxFlex="33">
                <header class="section-header">
                    <h3>3924</h3>
                    <p style="text-align: center;width: 25vw; margin-left: calc(50% - 12.5vw);">Students enrolled in the current school year.</p>
                </header>
            </div>
            <div fxFlex="33">
                <header class="section-header">
                    <h3>1576</h3>
                    <p style="text-align: center;width: 25vw; margin-left: calc(50% - 12.5vw);">Awards recieved since 1999.</p>
                </header>
            </div>
            <div fxFlex="33">
                <header class="section-header">
                    <h3>1483</h3>
                    <p style="text-align: center;width: 25vw; margin-left: calc(50% - 12.5vw);">Community services and outreach programs done as of 2019.</p>
                </header>
            </div>
        </div>
    </div>
</div>
</section>