<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerBOT.png" alt="" style="width: 100%;" class="sub-banner z-depth-2"/>
</div>

	<div class="container animated fadeIn" style="text-align:center; background-color: #e9e9e9f3;" fxLayoutAlign="center center">
		<div [ngStyle.gt-sm]="{'width':'70vw'}" style="margin-top: 5vh">
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center center">
			<div fxFlex="25" fxFlex.lt-md="100" >
				<img src="assets/imgs/bot/paulinor.jpg" class="z-depth-2" style="width: 100%" alt=""><br><br>
				<strong><span>Hon. ROLEN PAULINO</span></strong><br>
				BOT Chairperson<br />
				Olongapo City Mayor<br><br />
			</div>
		</div>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center center">
			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/bot/sorianoidp.jpg" class="z-depth-2" style="width: 90%" alt=""><br><br>
				<strong><span>Dr. IMELDA DP. SORIANO</span></strong><br>
				BOT Vice-Chairperson<br />
				College President<br><br />
			</div>
		</div>

		<!-- First Row -->
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/bot/cajudob.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>Hon. BENJAMIN G. CAJUDO</span></strong><br>
				BOT Member<br />
				City Councilor<br />
				Chair, Committee on Education<br><br>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/bot/elanee.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>Hon. EDNA A. ELANE</span></strong><br>
				BOT Member<br />
				City Councilor<br />
				Chair, Committee on Labor and Manpower Development<br><br>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/bot/ramirezl.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>Engr. LUIS B. RAMIREZ</span></strong><br>
				BOT Member<br />
				Community Representative<br /><br>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/bot/riveroa.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>Engr. AVELINO I. RIVERO</span></strong><br>
				BOT Member<br />
				Community Representative<br /><br>
			</div>
		</div>

		<!-- Second Row -->
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center center">
			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="../assets/imgs/bot/dediosr.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>Engr. RICO M. RIEGO DE DIOS</span></strong><br>
				BOT Member<br />
				Community Representative<br /><br>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="../assets/imgs/bot/cahiligj.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>JOY F. CAHILIG</span></strong><br>
				BOT Member<br />
				City Budget Officer<br /><br>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="../assets/imgs/bot/bernalg.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>Dr. GERALD S. BERNAL</span></strong><br>
				BOT Member<br />
				Community Representative<br /><br>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="../assets/imgs/bot/pinedar.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>Dr. RAYMOND E. PINEDA</span></strong><br>
				BOT Member<br />
				Community Representative<br /><br>
			</div>
		</div>

		<!-- Third Row -->
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center center">
			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="../assets/imgs/bot/fastidiol.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>LEBY FASTIDIO</span></strong><br>
				BOT Member<br />
				Faculty President<br /><br>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="../assets/imgs/bot/tuyay.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>MICHAEL P. TUYAY</span></strong><br>
				BOT Member<br />
				Alumni Association President<br /><br>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="../assets/imgs/bot/fabiana.jpg" class="z-depth-2" style="width: 65%" alt=""><br><br>
				<strong><span>ANTOINE JEREMIAH FABIAN</span></strong><br>
				BOT Member<br />
				Supreme Student Council Chairman<br /><br>
			</div>
		</div>
	</div>
	</div>
