<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerSHS.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
        <div fxFlex="50" fxFlex.lt-md="100">
            <header class="section-header">
                            <h3 class="text-center"><strong>ACADEMIC TRACKS OFFERED</strong></h3><br>
            </header>
							<h5><strong>Accountancy, Business, and Management (ABM) Strand</strong></h5>
							<p class="course-desc">With focus on the basic concepts of financial management, business management, and corporate operations, students are cultivated to think logically to acquaint themselves in the concepts and principles of accounting, business, and management. The emphasis on business, legal, and organizational context of analyzing assets, interpreting profitability, understanding financial positions, and preparing audit accounts are for the progress and development of the economy and the promotion of sustainable green business.</p>
							
							<hr>
							<h5><strong>Humanities and Social Sciences (HUMSS) Strand</strong></h5>
							<p class="course-desc">The HUMSS strand offers study of human behavior and society and analysis of arts, culture, literature, and politics, involving anthropology, psychology, political science, linguistics, and communication. Students are trained in reading, speaking, and writing, as well as culture, politics, and arts in people-oriented learning environment. </p>
							
							<hr>
							<h5><strong>Science, Technology, Engineering and Math (STEM) Strand</strong></h5>
							<p class="course-desc">Using interdisciplinary and applied concepts and skills in engineering, math, science, and technology, students in the STEM strand are fostered in a learning environment to produce original ideas, objects, and structures, according to specifications in problem-based and project-based activities. This is for those who strive to be in the fields of agriculture, engineering, healthcare, mathematics and science. </p>
            </div>

            <div fxFlex="25" fxFlex.lt-md="100">
                <img src="assets/imgs/admin/paguiod.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>DARWIN P. PAGUIO, Ph.D.,FRIEdr</span></strong><br>
              	OIC Principal<br /><br />
                </div>
                <img src="assets/imgs/admin/magsayoee.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>PROF. EDER E. MAGSAYO</span></strong><br>
                  OIC Assistant Principal<br /><br />
                </div>
            </div>
        </div>
    </div>
</div>