<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#addModal">
          Add Class
        </button>
        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#uploadModal">
          Upload Classes
        </button>
      </div>


      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="selectSY" (change)="getSem()">
          <option value="">Select Academic Year</option>
          <option *ngFor="let sy of schoolYear.data">{{ sy.cl_schoolyear }}</option>
        </select>
      </div>

      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="selectSem" (change)="getBlocks()">
          <option value="">Select Semester</option>
          <option *ngFor="let Semester of sem.data">{{ Semester.cl_sem }}</option>
        </select>
      </div>

      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="selectBlock" (change)="getClass()">
          <option value="">Select Blocks</option>
          <option *ngFor="let blo of block.data">{{ blo.cl_block }}</option>
        </select>
      </div>
    </div>


    <div *ngIf="!show">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">Classes</h4>
            <p class="card-category">Gordon College</p>
          </div>
          <div class="card-body text-center text-secondary">
            <br>
            <br>
            <h1><i class="material-icons">data_usage</i></h1>
            <h1> Please select academic year, semester and block.</h1>
            <br>
            <br>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="show">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title ">List of Classes for <strong>{{ selectBlock }}</strong></h4>
              <p class="card-category">Academic Year <strong>{{ selectSY }}</strong></p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-striped">
                <thead class=" text-primary">
                  <th>No.</th>
                  <th>Class Code</th>
                  <th>Subject Code</th>
                  <th>Room</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Day</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let class of classes.data; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ class.cl_code }}</td>
                    <td>{{ class.cl_sucode }}</td>
                    <td>{{ class.cl_room }}</td>
                    <td>{{ class.cl_stime }}</td>
                    <td>{{ class.cl_etime }}</td>
                    <td>{{ class.cl_day }}</td>
                    <td>
                      <button class="btn btn-info btn-sm btn-round" data-toggle="modal" data-target="#editModal" (click)=editClass(class)><i class="material-icons">
                        pageview
                        </i></button>
                      <button class="btn btn-danger btn-sm btn-round" (click)=delClass(class)><i class="material-icons">
                        delete
                        </i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="uploadModalLabel">Upload Class</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" (submit)="uploadClass($event)">
          <input class="form-control" name="file" type="file" required>
          <button type="submit" class="btn btn-sm btn-success pull-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="uploadModalLabel">Add Subject</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" (submit)="addClass($event)">
          <div class="form-group">
              <label for="name2">Class Code</label>
              <input class="form-control" name="name2" type="number" required [(ngModel)]="classInfo.clCode">
          </div>
          <div class="form-group">
              <label for="name3">Subject Code</label>
              <input class="form-control" name="name3" type="text" required [(ngModel)]="classInfo.suCode">
          </div>
          <div class="form-group">
              <label for="name4">Class Room</label>
              <input class="form-control" name="name4" type="number" required [(ngModel)]="classInfo.clRoom">
          </div>
          <div class="form-group">
              <label for="name5">Start Time</label>
              <input class="form-control" name="name5" type="number" required [(ngModel)]="classInfo.stTime">
          </div>
          <div class="form-group">
              <label for="name6">End Time</label>
              <input class="form-control" name="name6" type="number" required [(ngModel)]="classInfo.enTime">
          </div>
          <div class="form-group">
              <label for="name7">Day</label>
              <input class="form-control" name="name7" type="text" required [(ngModel)]="classInfo.clDay">
          </div>
          <div class="form-group">
              <label for="name11">Block (COURSE-YEARLEVEL-BLOCKLETTER)</label>
              <input class="form-control" name="name11" type="text" required [(ngModel)]="classInfo.clblock">
          </div>
          <div class="form-group">
            <label for="name12">Instructor</label>
            <select class="form-control" name="name12" [(ngModel)]="classInfo.clblock">
              <option value="">Select Faculty</option>
              <option *ngFor="let facultyMember of facultyMembers.data">{{ facultyMember.fa_lname }}, {{ facultyMember.fa_fname }} {{ facultyMember.fa_mname }} {{ facultyMember.fa_extname }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-sm btn-success pull-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


