<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerHealth.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
		<header class="section-header">
			<!-- <h3>College of Computer Studies</h3>
			<p></p> -->
			<p class="text-justify">The Clinic has started its operation along with the establishment of the College. It was comprised of one big room with a divider and one bed for the client. Only minor cases were being treated in the clinic; namely headache, dysmenorrhea, colds, skin allergy, mild abdominal pain, loose bowel movement, minor cuts, and mild hypertension. In the absence of the medical physician, clients that needed immediate medical care were being transported to James L. Gordon Hospital via a Red Cross ambulance.</p>
			<p  class="text-justify">Gordon College Clinic or otherwise called as Medical/Dental Health Services was fully transformed as an ideal College Clinic set-up last October 2010. It was transferred to a more spacious place. There was a new set of Medical/Dental Team headed by Rebecca M. Llabres, RN with Dr. Ruth Marie A. Roldan as school physician and Dr. Daisy Cos-Suede as school dentist. The formulation of Mission, Vision & Objectives was done. Clinic forms such as Student’s Medical/Dental Health Record, Prescription Forms, Medical Examination, Diagnostic Form, and Flowchart & Medical Dental Certificate Forms were also provided. The Community Health Information Tracking System was also spearheaded with the aid of Mr. Neil Biron of the MIS. All students have undergone medical/dental check-ups prior to their enrollment. Consultations were done and logged on a daily basis.</p>
		</header>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="75" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>Through FAITH, EXCELLENCE AND SERVICE, healthcare services will be accessible and available towards the fulfillment of dreams and continuous operation of Gordon College.</p>
				</header>
			<!-- </div>
			<div class="col-md-6"> -->
				<header class="section-header">
					<h3>Mission</h3>
					<p class="text-left">College Clinic is committed to:</p>
					<ul>
						<li>Quality nursing care to every member of the institution;</li>
						<li>Ensure that educational potential will not be hampered by unmet health needs;</li>
						<li>Provide and promote current health knowledge for awareness;</li>
						<li>Provide and promote attitude towards a healthy lifestyle.</li>
					</ul>
				</header>
			<!-- </div>
			<div class="col-md-5"> -->
				<br>
				<header class="section-header">
					<h3>Goals and Objectives</h3>
					<p class="text-left">To promote and maintain the total health of the school populace by providing comprehensive and quality health care.</p>
					<ul>
						<li>Provide quality nursing services to the school population;</li>
						<li>Create awareness among students, teaching and non-teaching personnel on the importance of the promotive and preventive aspects of health through education;</li>
						<li>Encourage the provision of standard functional facilities;</li>
						<li>Establish and strengthen linkages with the LGU and NGOs for school’s community extension services.</li>
					</ul>
				</header>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/admin/llabresr.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>REBECCA M. LLABRES</span></strong><br>
                Coordinator, Health Services Unit<br /><br />
            </div>
			</div>
		</div>
	</div>
</div>