<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title" *ngIf="credFaculty.data[0].fa_accounttype == 1">List of Students</h4>
                    <h4 class="card-title" *ngIf="credFaculty.data[0].fa_accounttype == 2">List of {{ credFaculty.data[0].fa_program }} Students</h4>
                    <p class="card-category">Academic Year {{ settings.data[0].en_schoolyear }}</p>
                </div>
                <div class="card-body">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search ...">
                    </mat-form-field>
                    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
                    <table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-striped">
        
                        <ng-container matColumnDef="si_idnumber">
                            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-success">ID Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.si_idnumber}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="si_fullname">
                            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-success"> Full Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.si_fullname}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="si_course">
                            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-success"> Course </th>
                            <td mat-cell *matCellDef="let element"> {{element.si_course}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="si_department">
                            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-success"> Department </th>
                            <td mat-cell *matCellDef="let element"> {{element.si_department}} </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
                </div>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="uploadModalLabel">Upload Subjects</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form autocomplete="off">
                  <input class="form-control" name="file" type="file" required>
                  <button type="submit" class="btn btn-sm btn-success pull-right">Submit</button>
              </form>
            </div>
        </div>
    </div>
  </div>
