<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="animated fadeIn">
<img src="assets/banners/subBannerOrganizations.png" alt="" width="100%" class="sub-banner z-depth-2"/>
</div>

<div class="container animated fadeIn" style="background-color: rgba(231, 231, 231, 0.95);font-family: Roboto,sans-serif;" fxLayoutAlign="center">
    <div [ngStyle.gt-sm]="{'width': '65vw'}" [ngStyle.gt-sm]="{'width': '100vw'}">
		<header class="section-header">
			<!-- <h3>College of Computer Studies</h3>
			<p></p> -->
			<p class="text-justify">The Student Organizations Unit regulates student organizations; which may be any association, club, council, or any form of organized group of student-granted permission to operate within the College by the Office of Student Welfare and Services as recommended by the coordinator of the Unit.</p>
		</header>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="75" fxFlex.lt-md="100">
				<header class="section-header">
					<h3>Vision</h3>
					<p>Dedicated to the personal, intellectual, professional, interpersonal, and spiritual development of students that promotes a healthy and diverse campus community.</p>
				</header>
			<!-- </div>
			<div class="col-md-6"> -->
				<header class="section-header">
					<h3>Mission</h3>
					<p>Foster a community which promotes student involvement through enhanced interpersonal and social engagement opportunities and programs.</p>
				</header>
			<!-- </div>
			<div class="col-md-5"> -->
				<br>
				<header class="section-header">
					<h3>Goals and Objectives</h3>
					<!-- <p class="text-left">The Guidance and Admission Unit offers a set of services utilizing integrated approach to the development of a well-functioning individual primarily by helping them utilize their potentials to the fullest. The function of the Guidance and Admission Unit is aimed at:</p> -->
					<ul>
						<li>Create a sense of community through programs, services, and events that facilitate interaction among students;</li>
						<li>Promote student learning and holistic development by involving students in varied group experiences and roles;</li>
						<li>Provide individual and group activities to improve interpersonal skills.</li>
					</ul>
				</header>
			</div>

			<div fxFlex="25" fxFlex.lt-md="100">
				<img src="assets/imgs/admin/ceraldel.jpg" [ngStyle.gt-sm]="{'width': '90%', 'margin-top': '3vh'}" [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}" class="z-depth-2" alt=""><br /><br />
                <div [ngStyle.lt-md]="{'width': '90%', 'margin-left': '5%'}">
                <strong><span>LOVELYN P. CERALDE</span></strong><br>
                Coordinator, Student Organization Unit<br /><br />
                </div>
			</div>
		</div>
	</div>
</div>